.auth-page {
  &__illustration-container {
    background-image: url(../../img/auth-illustration.svg);
    background-repeat: no-repeat;
    background-size: 518px 421px;
    background-position: left -20px bottom;
    background-color: $color-gray-light-xl;
    width: 100%;
    margin-bottom: -40px;
    padding-bottom: 106px;
  }

  &__ornament-container {
    background-image: url(../../img/auth-ornament.svg);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 20px;
    padding-top: 1px;
    min-height: 450px;
  }

  &__content {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
  }

  &__title {
    @include htext-xl-bold;
    color: $color-gray-dark-xl;
  }

  &__subtitle {
    @include text-lg;
    color: $color-gray-dark-lg-001;
  }

  &-form {
    text-align: left;
    max-width: 374px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-gray-light-xl;

    &__group {
      display: flex;
      flex-flow: column nowrap;
      margin: 12px 0px 0px 0px;

      &.center {
        align-items: center;
      }
    }

    &__label {
      @include text-line-sm-light;
      display: block;
      height: 28px;
      margin-bottom: 8px;
      color: $color-gray-dark-lg;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        @include text-xs-bold;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    textarea {
      @include text-light;
      padding: 12px;
    }

    &__control {
      &-input {
        background: $color-white;
        border: 1px solid $color-gray-light-lg;
        box-sizing: border-box;
        box-shadow: inset 1px 1px 2px rgba(89, 64, 0, 0.16);
        border-radius: 10px;
      }

      &-error {
        @include text-xs-bold;
        color: $color-sec-dark;
        margin-top: 4px;
      }

      &-checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 4px;
        padding-bottom: 4px;

        & > img {
          margin-right: 4px;
        }

        & > label {
          @include text-sm;
          color: $color-gray-dark-lg-001;
          display: block;
          height: unset;
          margin-bottom: 0px;

          a {
            @include text-sm;
          }
        }
      }

      &-submit {
        @include auth-button-primary;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__splitter {
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 12px 0px 0px 0px;
      width: 100%;

      & > div {
        border-bottom: 1px solid $color-gray-light-md;
        height: 0px;
      }
    }

    &__control-subtext {
      @include text-sm-bold;
      color: $color-gray-dark-md;
      margin-top: 10px;
    }

    &__control-link-go-back {
      @include solid-underline($color-gray-dark-md);
      @include text-bold-line-sm;
      display: inline;
      flex-grow: unset;
      color: $color-gray-dark-md;
      padding-top: 12px;
    }

    &__footer {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-top: 20px;
    }
  }

  &__cta {
    &_register {
      font: 500 13px/1.54 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md-001;
    }
  }

  &__loading {
    .spinner-border {
      color: $color-gray-light-md !important;
    }
  }

  &__success-text {
    @include text-lg;
    color: $color-gray-dark-xl;
    //background-color: rgba($color-gray-light-xl, 60%);
    background-color: rgba(251, 248, 244, 0.6);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // registration form
  &-registration {
    .auth-page-form {
      max-width: 600px;

      &__control {
        &-submit {
          max-width: 360px;
        }
      }
    }
  }
}

.role-selector {
  max-width: 600px;
  margin: 30px auto 20px auto;
  color: $color-gray-dark-lg;

  h2 {
    @include htext-bold;
  }

  &__options {
    display: block;
    margin-top: 20px;
    cursor: pointer;
  }

  &__option {
    display: flex;
    margin-top: 20px;
    padding: 40px;
    background: $color-gray-light-xl;
    border: 2px solid $color-gray;
    border-radius: 12px;

    &.active {
      color: $color-white;
      background: $color-main;
      border: 2px solid $color-main;
      box-shadow: 2px 2px 16px rgba(0, 68, 43, 0.24), inset -1px -1px 2px rgba(0, 89, 56, 0.53);

      & > div.icon {
        background-color: rgba(255, 255, 255, 0.1);
      }

      & > div.text > p {
        color: $color-white;
      }
    }

    & > div.icon {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      margin-right: 40px;
      background-color: $color-gray-light-lg;
      border-radius: 100px;

      & > img {
        border: none;
      }
    }

    & > div.text {
      text-align: left;

      & > h3 {
        @include htext-lg;
      }

      & > p {
        @include text-bold-line-sm;
        color: $color-gray-dark-md-001;
        margin-top: 8px;
      }
    }
  }
}

// upload file
.auth-page-form .auth-page-form__group .wizard-upload {
  position: relative;
  min-height: unset;

  & > input[type="file"] {
  }

  &__inner {
    min-height: unset;
  }

  &__box {
    padding: 18px 17px 20px 20px;

    & > img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }

  &__title {
    margin-right: 4px;
  }

  &__file {
    & > span {
      display: inline-block;
      max-width: 160px;
      max-height: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__btn {
    @include wizard-button-upload;
  }
}

// account activated page
.auth-page__account-activated {
  min-height: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .auth-page__subtitle {
    max-width: 557px;
    margin-top: 8px;
  }

  .auth-page-form__control-submit {
    max-width: 374px;
    margin-top: 40px;
  }
}

// mobile
@include media-breakpoint-down(lg) {
  .auth-page {
    &__illustration-container {
      background-image: none;
    }
  }
}

@media (max-width: 1500px) {
  .auth-page {
    &__illustration-container {
      background-position: left -160px bottom;
    }
  }
}
