.member-notifications {
  &__header {
    margin: 30px 0 15px;

    @include screen-from(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__title {
    font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-xl;
  }
  &__filter {
    ul {
      display: flex;
    }
    li {
      &:not(:last-child) {
        margin: 0 20px 0 0;
      }
    }
    &-control {
      border-bottom: 1px dashed $color-gray-dark-md;
      font: 600 11px/16px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md;
      &:hover {
        border-bottom: 1px dashed transparent;
        text-decoration: none;
      }
      &_active {
        color: $color-gray-dark-xl;
      }
    }
  }
  &__list {
    border: 1px solid $color-gray-light-md;
    border-radius: 8px 8px 0 0;

    &-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 15px 10px;
      font: 500 13px/1.54 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md-001;

      &:first-child {
        border-radius: 8px 8px 0 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-light-md;
      }

      &_warning-message {
        background-color: rgba(250, 115, 85, 0.1);
        color: $color-sec-dark;
      }

      &_new-message {
        background-color: $color-main-light;
      }
    }
  }
  &__item-card {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
    min-width: 42px;
  }
  &__item-avatar {
    border: 1px solid $color-gray-light-md;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;

    &_no-image {
      background-color: $color-white;
      border-style: none;
    }
  }
  &__item-type {
    background-color: $color-gray-light-lg;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid $color-white;
    margin-left: -6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;

    &_notification {
      background-image: url("../../img/icon-notification.svg");
    }
    &_hard-rock {
      background-image: url("../../img/icon-hard-rock.svg");
    }
    &_list {
      background-image: url("../../img/icon-list.svg");
    }
    &_reward {
      background-image: url("../../img/icon-reward.svg");
    }
  }
  &__item-title {
    margin-right: auto;
    flex-shrink: 10;

    &-link {
      &_normal {
        color: $color-gray-dark-xl;
      }
      &_highlight {
        color: $color-main-dark;
      }
    }
  }
  &__item-time {
    margin-left: auto;
    text-align: center;
  }
  &__keyword {
    color: $color-gray-dark-xl;
  }
  &__footer {
    border: 1px solid $color-gray-light-md;
    border-top-style: none;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  &__more-link {
    border-bottom: 1px dashed $color-gray-dark-md;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    text-decoration: none;
    color: $color-gray-dark-md;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}
