.member-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-gray-light-md;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-sizing: border-box;

  &_paseka-member {
    position: relative;
    border: 5px solid $color-main;
  }
  &_medium-size-image {
    width: 70px;
    height: 70px;

    &[class*="_paseka-member"] {
      border: 3px solid $color-main;
      & [class*="__tooltip"] {
        width: 20px;
        height: 20px;
      }
    }
  }
  &_medium-plus-size-image {
    width: 80px;
    height: 80px;

    &[class*="_paseka-member"] {
      border: 3px solid $color-main;
      & [class*="__tooltip"] {
        width: 20px;
        height: 20px;
      }
    }
  }
  &_default-image {
    background-color: $color-gray-light-xl;
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: 50%;

    &_default {
      width: auto;
      height: 70%;
    }
  }
  &__tooltip {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../../img/icon-paseka.svg) 50% 50% no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    text-align: left;

    &-partner-icon {
      background: none;
    }

    &-partner-icon-image {
      display: block;
    }

    &-btn {
      display: block;
      background-color: transparent;
      border-style: none;
      padding: 0;
      width: 40px;
      height: 40px;
      outline: none;
      cursor: pointer;
    }
  }
}
