.member-card {
  background: $color-white;
  border: 2px solid $color-gray-light-md;
  margin: 20px 0;
  padding: 20px 25px;
  box-sizing: border-box;
  border-radius: 8px;
  @include screen-from(md) {
    margin-top: 0;
  }
  & + .btn {
    margin: 0 0 20px;
  }
  &__bage {
    margin: 0 0 20px;
    text-align: center;
  }
  &__avatar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 0 10px;
    &-image {
      width: 100%;
      height: auto;
      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-gray-light-md;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        &_default-image {
          border-color: transparent;
        }
      }
    }
    &-upload {
      position: absolute;
      left: calc(50% + 28px);
      bottom: 0;
      background: url(../../img/icon-camera_32x32.svg) 50% 50% no-repeat;
      border: 1px solid $color-gray-light-md;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      border-radius: 50%;
      box-shadow: 0 0 0 2px $color-gray-light-xl;
      &:focus {
        outline: none;
      }
      &-input {
        display: none;
      }
    }
  }
  &__name {
    margin: 0 0 5px;
    font: 600 20px/32px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-xl;
  }
  &__role {
    font: 500 13px/20px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-lg;
  }
  &__stats {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 1px solid $color-gray-light-lg;
    margin: 0 0 25px;
    padding: 0 0 25px;
    font: 500 13px/20px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    @include screen-from(md) {
      flex-flow: row;
      justify-content: space-between;
      margin: 0 0 20px;
      padding: 0 0 20px;
    }
    &::before,
    &::after {
      @include screen-from(md) {
        content: "";
        display: block;
        background-color: $color-gray-light-md;
        width: 1px;
        height: 28px;
      }
    }
    &::before {
      @include screen-from(md) {
        order: 2;
      }
    }
    &::after {
      @include screen-from(md) {
        order: 4;
      }
    }
    &-item {
      &:not(:last-child) {
        margin: 0 0 5px;
        @include screen-from(md) {
          margin: 0;
        }
      }
      &_calculated-rating {
        @include screen-from(md) {
          order: 1;
        }
      }
      &_review-count {
        @include screen-from(md) {
          order: 3;
        }
      }
      &_xp {
        @include screen-from(md) {
          order: 5;
        }
      }
    }
  }
  &__review-count {
    color: $color-main;
  }
  &__xp {
    background: url("../../img/icon-award_20x20.svg") 0 50% no-repeat;
    padding: 0 0 0 25px;
  }
  &__calculated-rating {
    display: flex;
    align-items: center;
    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-sec-dark;
      margin: 0 8px;
      width: 28px;
      height: 28px;
      color: $color-white;
      border-radius: 50%;
    }
  }
  &__organization {
    border-bottom: 1px solid $color-gray-light-lg;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-align: center;
    @include screen-from(md) {
      text-align: left;
    }
    &-header {
      margin: 0 0 20px;
      @include screen-from(md) {
        display: flex;
        align-items: flex-start;
      }
    }
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 20px;
      border: 1px solid $color-gray-light-md;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-sizing: border-box;
      overflow: hidden;
      @include screen-from(md) {
        margin: 0;
      }
    }
    &-top {
      margin: 0 0 0 15px;
      flex-basis: calc(100% - 95px);
    }
    &-name {
      margin: 0 0 5px;
      font: 600 16px/20px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-xl;
    }
    &-site {
      font: 600 11px/16px "IBM Plex Sans", sans-serif;
    }
    &-description {
      font: 500 13px/20px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-lg;
    }
  }
  &__registration-date {
    font: 500 13px/20px "IBM Plex Sans", sans-serif;
    color: $color-gray;
  }
  &__divider {
    margin: 20px 0;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid $color-gray-light-lg;
  }
  &__bottom {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 0 20px;
  }
  &__contacts {
    @include screen-from(md) {
      display: flex;
      justify-content: center;
      margin: 0 0 15px;
    }
    font: 500 13px/20px "IBM Plex Sans", sans-serif;
    &-email {
      margin: 0 0 5px;
      @include screen-from(md) {
        margin: 0;
      }
    }
    &-phone {
      margin: 0 0 5px;
      @include screen-from(md) {
        margin: 0;
      }
      &::before {
        @include screen-from(md) {
          content: "/";
          display: inline-block;
          padding: 0 10px;
          color: $color-gray;
        }
      }
      > :only-child {
        color: $color-gray-dark-xl;
      }
    }
  }
  &__socials {
    display: flex;
    margin: 0 0 5px;
    @include screen-from(md) {
      margin: 0 0 15px;
    }
    &-item {
      margin: 0 10px 0 0;
      width: 24px;
      height: 24px;
      text-indent: -9999px;
      &_facebook {
        background: url(../../img/icon-facebook_24x24.svg) 50% 50% no-repeat;
      }
      &_twitter {
        background: url(../../img/icon-twitter_24x24.svg) 50% 50% no-repeat;
      }
      &_vk {
        background: url(../../img/icon-vk_24x24.svg) 50% 50% no-repeat;
      }
      &_skype {
        background: url(../../img/icon-skype_24x24.svg) 50% 50% no-repeat;
      }
      &_telegram {
        background: url(../../img/icon-telegram_24x24.svg) 50% 50% no-repeat;
      }
    }
  }
  &__action {
    .btn:first-child {
      margin: 0 0 10px;
    }
  }
  &__thank-count {
    display: flex;
    justify-content: center;
    margin: 20 0 0;
    font: 600 13px/20px "IBM Plex Sans", sans-serfif;
    color: $color-gray-dark-lg;
  }
}
