.member-stats {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 25px 0 0;
  font: 500 13px/1.54 "IBM Plex Sans", sans-serif;
  color: $color-gray-dark-lg;
  @include screen-from(md) {
    flex-flow: row;
    justify-content: flex-start;
    margin: 20px 0 0;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include screen-from(md) {
      margin-bottom: 20px;
    }
  }
  &_align-center {
    @include screen-from(md) {
      justify-content: center;
    }
  }
  &_top-divider {
    &:not(:first-child) {
      border-top: 1px solid $color-gray-light-lg;
      padding-top: 25px;
      @include screen-from(md) {
        padding-top: 20px;
      }
    }
  }
  &_bottom-divider {
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light-lg;
      padding-bottom: 25px;
      @include screen-from(md) {
        padding-bottom: 20px;
      }
    }
  }
  &_no-margin {
    margin: 0;
  }
  &::before,
  &::after,
  &__divider {
    @include screen-from(md) {
      content: "";
      display: block;
      background-color: $color-gray-light-md;
      margin: 0 10px;
      width: 1px;
      height: 20px;
    }
  }
  &::before {
    @include screen-from(md) {
      order: 2;
    }
  }
  &::after {
    @include screen-from(md) {
      order: 4;
    }
  }
  &__divider {
    @include screen-from(md) {
      order: 6;
    }
  }
  &__item {
    @include screen-from(md) {
      text-align: center;
    }
    &:not(:last-child) {
      margin: 0 0 5px;
      @include screen-from(md) {
        margin: 0;
      }
    }
    &_calculated-rating {
      @include screen-from(md) {
        order: 1;
      }
    }
    &_review-count {
      @include screen-from(md) {
        order: 3;
      }
    }
    &_xp {
      @include screen-from(md) {
        order: 5;
      }
    }
    &_solved-problems {
      @include screen-from(md) {
        order: 7;
      }
    }
  }
  &__review-count {
    &,
    a {
      color: $color-gray-dark-lg;
    }
  }
  &__xp {
    background: url("../../img/icon-award.svg") 0 50% no-repeat;
    padding: 0 0 0 23.5px;
  }
  &__calculated-rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $color-gray-dark-xl;

    &::before {
      content: "";
      display: block;
      background: url("../../img/icon-star-yellow.svg") 50% 50% no-repeat;
      margin: 0 2px 0 0;
      width: 20px;
      height: 20px;
    }
  }
}
