.members-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  &-more {
    margin: 30px 0 0;
    text-align: center;

    &__link {
      border-bottom: 1px dashed $color-main;
      text-decoration: none;

      &:hover {
        border-bottom: 1px dashed transparent;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-no-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
    margin-bottom: -40px;

    &__message {
      font: 500 22px/1.36 "IBM Plex Sans", sans-serif;
      letter-spacing: -0.01em;
      text-align: center;
      color: $color-gray-dark-xl;
    }
    &__cta {
      [class*="btn"] {
        padding: 12px 20px;
        font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
        border-radius: 6px;
      }
    }
    &__image {
      //
    }
  }
}
