.member-card-small {
  &,
  &__bage {
    display: flex;
    flex-flow: column;
    align-items: center;

    @include screen-from(md) {
      align-items: flex-start;
    }
  }
  &__name {
    margin: 0 0 5px;
    font: 600 16px/1.25 "IBM Plex Sans", snas-serif;
    color: $color-gray-dark-xl;
  }
  &__role {
    font: 600 11px/1.09 "IBM Plex Sans", snas-serif;
    color: $color-gray-dark-lg;
  }
  &__avatar {
    margin: 0 0 10px;
  }
}
