.member-stats {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 25px 0;
  font: 500 13px/20px "IBM Plex Sans", sans-serif;
  color: $color-gray-dark-md;
  @include screen-from(md) {
    flex-flow: row;
    justify-content: flex-start;
    margin: 20px 0;
  }
  &_align-center {
    @include screen-from(md) {
      justify-content: space-between;
    }
  }
  &_top-divider {
    border-top: 1px solid $color-gray-light-lg;
    padding-top: 25px;
    @include screen-from(md) {
      padding-top: 20px;
    }
  }
  &_bottom-divider {
    border-bottom: 1px solid $color-gray-light-lg;
    padding-bottom: 25px;
    @include screen-from(md) {
      padding-bottom: 20px;
    }
  }
  &::before,
  &::after,
  &__divider {
    @include screen-from(md) {
      content: "";
      display: block;
      background-color: $color-gray-light-md;
      margin: 0 10px;
      width: 1px;
      height: 28px;
    }
  }
  &::before {
    @include screen-from(md) {
      order: 2;
    }
  }
  &::after {
    @include screen-from(md) {
      order: 4;
    }
  }
  &__divider {
    @include screen-from(md) {
      order: 6;
    }
  }
  &__item {
    @include screen-from(md) {
      text-align: center;
    }
    &:not(:last-child) {
      margin: 0 0 5px;
      @include screen-from(md) {
        margin: 0;
      }
    }
    &_calculated-rating {
      @include screen-from(md) {
        order: 1;
      }
    }
    &_review-count {
      @include screen-from(md) {
        order: 3;
      }
    }
    &_xp {
      @include screen-from(md) {
        order: 5;
      }
    }
    &_solved-problems {
      @include screen-from(md) {
        order: 7;
      }
    }
  }
  &__review-count {
    color: $color-main;
  }
  &__xp {
    background: url("../../img/icon-award_20x20.svg") 0 50% no-repeat;
    padding: 0 0 0 25px;
  }
  &__calculated-rating {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-sec-dark;
      margin: 0 8px;
      width: 28px;
      height: 28px;
      color: $color-white;
      border-radius: 50%;
    }
  }
}
