.meta-terms {
  @include screen-from(md) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 4px;
  }

  .terms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      @include screen-from(md) {
        margin-right: 0;
      }
    }

    img {
      margin-top: $base;
      margin-right: $base;
      vertical-align: middle;
      width: 20px;
      height: 20px;
    }

    a,
    span {
      @include a-no-hover-underline;
      @include text-xs;
      color: $color-gray-dark-md-001;
      display: inline-block;
      padding: 4px 12px;
      border: 1px solid $color-gray-light-md;
      border-radius: 10px;
      white-space: nowrap;

      &.link:hover {
        font-weight: 600;
        color: $color-gray-dark-lg;
        border-color: $color-gray;
      }

      &.link::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  &__left-column {
    @include screen-from(md) {
      display: flex;
      flex-flow: row wrap;
      flex-shrink: 10;
    }
  }

  &__right-column {
    .terms {
      flex-wrap: nowrap;

      .meta-term {
        display: flex;
      }
    }
  }
}

.meta-term {
  margin-top: $base;

  &:not(:last-child) > a,
  &:not(:last-child) > span {
    margin-right: 4px;
  }
}
