.search-form {
  &__group {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 32px;
  }
  &__control {
    &_input {
      @extend .form__control_input;
    }
    &_submit {
      @extend .form__control_submit;
    }
  }
}
