.task-card {
  padding: 20px;
  border-left: 1px solid $color-gray-light-md;
  border-right: 1px solid $color-gray-light-md;
  border-bottom: 1px solid $color-gray-light-md;

  &:first-child {
    border-top: 1px solid $color-gray-light-md;
    border-radius: 8px 8px 0 0;
  }
  :last-child > &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &__header {
    margin: 0 0 5px;
    @include screen-from(md) {
      display: flex;
      align-items: center;
    }
  }
  &__date {
    margin: 5px 0 0;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    @include screen-from(md) {
      margin: 0 0 0 15px;
    }
  }
  &__сandidate-сount {
    margin: 5px 0 0;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    @include screen-from(md) {
      margin: 0 0 0 15px;
    }
  }
  &__title {
    margin: 10px 0;
    font: 600 20px/32px "IBM Plex Sans", sans-serif;
    &,
    & a {
      color: $color-gray-dark-xl;
    }

    @include screen-from(md) {
      margin: 0 0 15px;
    }
  }
  &__excerpt {
    font: 500 13px/20px "IBM Plex Sans", sans-serif;
  }
}
