.itv-user-small-view {
  @include a-no-hover-underline;
  display: flex;
  align-items: center;

  .avatar-wrapper {
    display: inline-block;
    border-radius: 50%;
    background-color: $color-gray-light-xl;
    border: 1px solid $color-gray-light-md;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-right: $base;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    vertical-align: middle;
    &_default-image {
      background-size: 80%, 78.75%;
      background-repeat: no-repeat;
    }
    &_medium-image {
      background-size: 68%, 66.75%;
      background-repeat: no-repeat;
    }
  }
  .name {
    flex-shrink: 10;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md-001;

    &_reviews {
      font-size: 13px;
    }

    a, span {
      color: $color-gray-dark-xl;
    }
  }
}
