.itv-user-small-view {
  display: flex;
  align-items: center;
  .avatar-wrapper {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #e5e6e0;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-right: $base;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    vertical-align: middle;
  }
  .name {
    flex-shrink: 10;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    span {
      color: $color-gray-dark-xl;
    }
  }
}
