.volunteer {
  position: relative;
  background: $color-white;
  border: 2px solid $color-gray-light-lg;
  padding: 20px;
  border-radius: 8px;
  @include screen-from(md) {
    display: flex;
    flex-flow: column nowrap;
  }
  &_first {
    border: 2px solid #f6d288;
  }
  &_second {
    border: 2px solid #c9c9c9;
  }
  &_third {
    border: 2px solid #eba189;
  }
  &__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    @include screen-from(md) {
      flex-flow: row nowrap;
      text-align: left;
    }
  }
  &__index {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font: 500 22px/1.36 "IBM Plex Sans", sans-serif;
    letter-spacing: -0.01em;
    color: $color-gray-dark-lg;

    &_first,
    &_second,
    &_third {
      &::before {
        content: "";
        display: block;
        background: none 50% 50% no-repeat;
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
      }
    }

    &_first {
      &::before {
        background-image: url("../../img/icon-award-gold.svg");
      }
    }
    &_second {
      &::before {
        background-image: url("../../img/icon-award-silver.svg");
      }
    }
    &_third {
      &::before {
        background-image: url("../../img/icon-award-bronze.svg");
      }
    }
  }
  &__avatar {
    margin: 0 0 5px;
    @include screen-from(md) {
      margin: 0;
    }
  }
  &__bage {
    @include screen-from(md) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      flex-grow: 10;
      margin: 0 0 0 20px;
    }
  }
  &__account-link {
    color: $color-gray-dark-xl;
  }
  &__full-name {
    margin: 0 0 5px;
    font: 500 22px/1.36 "IBM Plex Sans", sans-serif;
    letter-spacing: -0.01em;
    color: $color-gray-dark-xl;
    @include screen-from(md) {
      margin: 0 0 10px;
    }
  }
  &__stats {
    flex-basis: 100%;
  }
  &__footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include screen-from(md) {
      flex-flow: row nowrap;
      margin-top: auto;
    }
  }
  &__give-thanks {
    position: absolute;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    .volunteer:hover & {
      visibility: visible;
      opacity: 1;
    }
    &-btn {
      background: $color-gray-light-xl;
      border: 2px solid $color-gray-light-md;
      padding: 6px 8px;
      font: 500 11px/1.45 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-xl;
      border-radius: 8px;
      box-sizing: border-box;
    }
  }
}
