.member-account {
  &__top {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-image: linear-gradient(180deg, #e6dfd1 0%, #e0d6c3 100%),
      linear-gradient(180deg, #f8f2ea 0%, #ddcdb7 100%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -15px;
    height: 200px;
    &-inner {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-grow: 10;
      margin: 0 auto;
      padding: 0 15px;
      max-width: 1128px;
      .btn_upload-cover {
        margin: 0 0 20px;
      }
    }
  }
  &__columns {
    @include screen-from(md) {
      display: flex;
      margin: 0 auto;
      max-width: 1128px;
    }
  }
  &__left-column {
    @include screen-from(md) {
      flex-basis: 31.2056%;
      transform: translate(0, -140px);
    }
  }
  &__right-column {
    @include screen-from(md) {
      flex-basis: 68.7944%;
      margin: 0 0 0 40px;
    }
  }
  &__create-task {
    padding: 20px 0 0;
    @include screen-from(md) {
      position: relative;
      padding: 0;
    }
    &-button {
      text-align: center;
      @include screen-from(md) {
        position: absolute;
        top: 22px;
        right: 0;
      }
      .btn {
        width: 100%;
        @include screen-from(md) {
          width: auto;
        }
      }
    }
  }
}

.member-tasks {
  &__header {
    margin: 30px 0 15px;

    @include screen-from(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__title {
    font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
  }
  &__filter {
    ul {
      display: flex;
    }
    li {
      &:not(:last-child) {
        margin: 0 20px 0 0;
      }
    }
    &-control {
      border-bottom: 1px dashed $color-gray-dark-md;
      font: 600 11px/16px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md;
      &:hover {
        border-bottom: 1px dashed transparent;
        text-decoration: none;
      }
      &_active {
        color: $color-gray-dark-xl;
      }
    }
  }
  &__footer {
    border-left: 1px solid $color-gray-light-md;
    border-right: 1px solid $color-gray-light-md;
    border-bottom: 1px solid $color-gray-light-md;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  &__more-link {
    border-bottom: 1px dashed $color-gray-dark-md;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    &:hover,
    &:focus {
      border-bottom: 1px dashed transparent;
      text-decoration: none;
    }
  }

  .meta-info {
    margin: 15px 0;

    & > *:not(:last-child) {
      margin-right: 12px;
    }

    img.itv-approved {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
    }

    .meta-info {
      img {
        margin-right: 4px;
      }

      &__item {
        font: 600 11px/16px "IBM Plex Sans", sans-serif;
        color: $color-gray-dark-md-001;
        &_deadline {
          color: $color-sec-dark;
        }
        &_share {
          color: $color-main;
        }
        &-action {
          font-size: 11px;
          line-height: 16px;
        }
      }
    }

    .meta-info-share {
      position: relative;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .share-task {
      img {
        width: 16px;
        height: 16px;
      }

      span {
        color: $color-main;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .meta-terms {
    margin-top: 6px;
  }
}

.member-reviews {
  &__header {
    margin: 30px 0 10px;

    @include screen-from(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__title {
    font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
  }
  &__stats {
    margin: 5px 0 0;
    @include screen-from(md) {
      margin: 0;
    }
    ul {
      display: flex;
    }
    li {
      font: 600 11px/16px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md;
      @include screen-from(md) {
        &:not(:last-child) {
          margin: 0 10px 0 0;
        }
      }
    }
  }
  &__footer {
    border: 1px solid $color-gray-light-md;
    border-top: none;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  &__more-link {
    border-bottom: 1px dashed $color-gray-dark-md;
    font: 600 11px/16px "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-md;
    &:hover,
    &:focus {
      border-bottom: 1px dashed transparent;
      text-decoration: none;
    }
  }
}

.member-account-null {
  &__need-attention {
    background-color: $color-gray-light-lg;
    margin: 30px 0;
    padding: 20px;
    border-radius: 8px;

    h3 {
      display: flex;
      justify-content: space-between;
      @include text-bold-line-sm;
      color: $color-gray-dark-xl;

      a.close {
        background: url(../../img/icon-modal-close.svg) 50% 50% no-repeat;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        @include a-no-hover-underline;
      }
    }

    ul {
      li {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 20px;
        counter-increment: number;

        &::before {
          @include text-sm-bold;
          content: counter(number);
          display: flex;
          float: left;
          justify-content: center;
          align-items: center;
          background-color: $color-main;
          color: $color-white;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          border-radius: 100px;
          text-align: center;
        }

        a {
          margin-right: 4px;
          @include text-sm-bold;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          flex-basis: 100%;
          margin-top: 6px;
          @include text-sm;
          color: $color-gray-dark-xl;

          @include screen-from(md) {
            flex-basis: auto;
            margin-top: 0;
          }
        }
      }
    }
  }

  &__empty-section {
    margin-top: 30px;

    h3 {
      font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
      margin: 0 0 10px;
    }

    .empty-section {
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-gray-light-md;
        padding: 20px;
        border-radius: 8px;

        &-image {
          margin: 0 0 16px;
        }

        &-text {
          font: 500 13px/1.54 "IBM Plex Sans", sans-serif;
          text-align: center;

          &:not(:last-child()) {
            margin: 0 0 16px;
          }
        }

        a {
          @include a-no-hover-underline;
          @include button-secondary-sm-dark;
          display: block;
        }

        p {
          @include text-sm;
          text-align: center;
          color: $color-gray-dark-xl;
        }
      }
    }
  }
}
