.members {
  margin: 0 auto;
  max-width: 640px;

  &__title {
    margin: 0 0 10px;
    font: 600 30px/1.33 "IBM Plex Sans", sans-serif;
    color: $color-gray-dark-xl;
  }
}

.date-filter {
  margin-bottom: 32px;

  @include screen-from(md) {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0;
  }
  &__item {
    &:not(:last-child) {
      @include screen-from(md) {
        margin-right: 10px;
      }
    }

    .form__group {
      margin-bottom: 20px;
    }
  }
}