// task page
.site-main.page-task-list {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  section.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h1 {
      @include htext-xl-bold;
      color: $color-gray-dark-xl;
    }

    .stats {
      display: flex;
      justify-content: flex-end;

      span {
        display: inline-block;
        color: $color-gray-dark-xl;
        @include text-xs-bold;
        vertical-align: middle;
        padding: 4px 0px 4px 0px;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: $base * 2;
        }

        &.active {
          padding: 4px 12px 4px 12px;
          border-radius: 10px;
          background-color: $color-gray-light-md;
        }
      }
    }
  }

  .page-sections {
    margin-top: 26px;
    width: 100%;

    @include screen-from(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &_search {
      flex-flow: column nowrap;
    }
  }
}

.site-main.page-task-list section.task-list-filter {
  flex-basis: 31.4285%;
  background-color: $color-gray-light-lg;
  color: $color-gray-dark-xl;
  border-radius: 16px;
  padding: 32px 24px;
  margin-right: $base * 4;
  box-sizing: border-box;

  .filter-explain {
    @include text-line-sm-light;
  }

  .filter-tip {
    @include text-sm;
    color: $color-gray-dark-lg;
    margin-top: 12px;
    padding: 8px 12px 8px 12px;
    background-color: $color-gray-light-xl;
    border: 1px solid $color-gray-light-md;
    border-radius: 6px;

    &.after-filter {
      margin-top: $base * 3;
    }

    .filter-tip-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
      align-items: top;

      .filter-tip-title {
        @include text-sm-bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-gray-dark-md;

        & > span {
          display: block;
        }

        img {
          margin-right: 4px;
          width: 16px;
          height: 16px;
          display: block;
        }
      }

      .filter-tip-close {
        background-image: url("../../img/icon-filter-close-tip.svg");
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
        margin-top: 2px;
      }
    }
  }

  .filter-sections {
    .filter-section {
      margin-top: $base * 3;

      .filter-section-title {
        @include text-sm-bold;
        color: $color-gray-dark-md;
        border-bottom: 1px solid $color-gray-light-md;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & > img {
          margin-right: 4px;
          width: 16px;
          height: 16px;
          display: block;
        }

        & > span {
          display: block;
        }
      }

      .filter-section-option-groups {
        margin-top: 8px;
      }

      .filter-section-option-list {
        &:not(:first-child) {
          margin-top: 12px;
        }

        &.sub-terms-list {
          margin-left: 16px;
        }

        .filter-section-option-list-header {
          @include text-sm;
          color: $color-gray-dark-lg;

          & > img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 6px;
          }
        }

        &.expand {
          .filter-section-option-list-items {
            margin-left: 28px;
            display: none;
          }
        }

        &.active {
          .filter-section-option-list-header {
            color: $color-main;
          }

          .filter-section-option-list-items {
            display: block;
          }
        }

        .filter-section-option-list-items {
          margin-top: 12px;

          .filter-section-option-list-item {
            @include text-sm;
            color: $color-gray-dark-lg;
            display: block;

            .filter-section-option-list-item-title {
              display: flex;
            }

            .check-title {
              cursor: pointer;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              & > img {
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 6px;
              }
            }

            &.has-subterms {
              & > .filter-section-option-list-item-title > .check-title {
                & > span {
                  @include dashed-underline($color-gray-dark-lg);
                }
              }
            }

            .stats {
              flex-grow: 1;
              text-align: right;
              color: $color-gray-dark-md;
            }

            &.active {
              color: $color-main;
            }

            &:not(:first-child) {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }

  .filter-actions {
    margin-top: 24px;

    .filter-reset,
    .filter-unsubscribe {
      margin-top: 16px;
    }

    .already-subscribed {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > span {
        @include text-xs-bold-line-lg;
        color: $color-gray-dark-md;
        display: inline-block;
        margin-top: 16px;
        text-align: center;
        max-width: 256px;
      }
    }
  }
}

// tasks
.site-main.page-task-list .page-sections .task-list,
.site-main .home-tasks__list .task-list {
  flex-basis: 65.7142%;
  width: 65.7142%;
  padding-bottom: 56px;
  opacity: 1;
  visibility: visible;
  transition: all 0.15s ease-in;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .load-more-tasks {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .btn {
      @include button-secondary;
      font-weight: 600;
      padding: 12px 40px;
    }
  }
}

.task-body {
  padding: $base * 3 $base * 4;
  border: 2px solid $color-gray-light-md;
  border-radius: 8px;
  box-sizing: border-box;

  &:first-child {
    margin-top: 0px !important;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }

  &__title {
    margin-top: 12px;
    word-break: break-word;
    &,
    & a {
      font: 600 20px/1.6 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-xl;
    }
  }

  .meta-info {
    .tooltip.itv-approved {
      display: inline-block;
      vertical-align: middle;
    }

    .tooltip-buble {
      @include text-xs;
      background-color: $color-white;
      color: $color-gray-dark-xl;

      padding: 8px 12px;
      z-index: 11;
      top: 0;
      left: 0;
      transform: translate(-15%, 112%);

      &:before {
        border-bottom: 8px solid $color-white;
        border-top: none;
        left: calc(15%);
        top: -7px;
      }
    }
  }

  .clickable-task-content {
    @include a-no-hover-underline;
  }

  .task-content {
    @include text-sm;
    color: $color-gray-dark-xl;
    margin-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-gray-light-md;
    word-break: break-word;
  }

  .meta-terms {
    margin-top: $base;
  }

  .task-author-meta {
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

    .task-author-meta-tail-shadow {
      width: 50px;
      height: 100%;
      top: 0px;
      right: 0px;
      position: absolute;        
      background: linear-gradient(270deg, $color-gray-light-xl 30.88%, rgba(251, 248, 244, 0) 100%);
    }

    .itv-user-small-view {
      margin-right: $base * 3;

      .name a, 
      .name span {
        white-space: nowrap;
      }
    }
  }
}

// nothing found
.task-list-nothing-found-block {
  padding-top: 80px;
  padding-bottom: 80px;
  border: 2px solid $color-gray-light-md;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @include htext-lg-bold;
    letter-spacing: -0.01em;
    color: $color-gray-dark-xl;
  }

  h3 {
    @include text-lg;
    color: $color-gray-dark-xl;
  }

  a.btn-reset-filter {
    @include a-no-hover-underline;
    @include action-button-secondary-md;
    @include text-sm-bold;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
  }
}

.search-phrase {
  margin-top: -16px;
  margin-bottom: 22px;
  width: 85%;
  @include screen-from(md) {
    width: 100%;
  }
  &__value {
    font-size: 1.5em;
    color: $color-sec;
  }
}

.search-form {
  width: 85%;
  @include screen-from(md) {
    width: 100%;
  }
}

// mobile
@include media-breakpoint-down(md) {
  .site-main.page-task-list {
    section.page-header {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;

      .stats {
        flex-basis: 100%;
        margin-top: 16px;
      }
    }

    .page-sections {
      .task-list-filter {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
      }

      .task-list {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
      }
    }
  }
}
