/* project styles */


/* common */

#menu-center {
	.dropdown-menu {
		width: 277px;
	}
}

.task-details,
.inpage-footer {
	margin: 20px 0;
}

.task-details {
	position: relative;	
}

.page-content {
	min-height: 300px;
}

.page-content.contacts {
	margin-bottom: 20px;
	min-height: 0;
}


/* real **/
.widefat {
	width: 100%;	
}

.text-center {
	text-align: center;
}

.ui-datepicker {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}


.btn-grey {
	background: #f3f3f3;
	&:hover {
		background: $color-border-light;
	}
}

.btn-delete{
	border: 2px solid #A94442;
	color: #A94442;
}


.sharing {	
	text-align: right;
	padding-right: 10px;
	.txt {
		display: inline-block;
		margin-top: -2px;
		vertical-align: text-top;
		font-size: 0.9em;
		color: #999;
		margin-right: 10px;
	}
	.share-buttons {
		display: inline-block;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}


/** Layout **/
.task-actions {
	.page-heading .breadcrumb {
		margin-bottom: 10px;
	}
	.alert a {
		color: $color-label-green-dark;
	}
}


/** Tasks **/
.task-params {
	.task-param,
	.task-param:hover {
		padding: 10px 15px;
		border-color: $color-label-green-normal;
		color: $color-label-green-normal;
		background: white;
		cursor: default;
	}
	
	.glyphicon {
		font-size: 15px;
		margin-right: 10px;
	}
		
	.deadline.urgent:hover,
	.deadline.urgent {
		border-color: $color-deadline-urgent;
		color: $color-deadline-urgent;
	}
	
	.deadline.low-urgency:hover,
	.deadline.low-urgency {
		border-color: $color-deadline-low-urgent;
		color: $color-deadline-low-urgent;
	}
	
	.deadline.no-urgency:hover,
	.deadline.no-urgency {
		border-color: $color-deadline-no-urgent;
		color: $color-deadline-no-urgent;
	}
	
	.deadline.all-time-of-world {
		border-color: $color-deadline-all-time;
		color: $color-deadline-all-time;
	}
		
	.reward-name ,
	.deadline-date {		
		font-weight: bold;
	}
	
}

.fixed-member-meta,
.task-meta {
	color: $color-text-meta;
	font-size: 0.857em;
	a {
		color: $color-text-semi;			
		&:hover {
			text-decoration: underline;
		}
	}
}
	
	
.in-loop-old {
	.type-tasks-old {
		margin-top: 15px;
		
		.border-card {
			margin-left: -7px;
		}
		
		&:nth-of-type(2n+1) {
			//clear: left;
			.border-card {
				margin-right: -7px;
			}
		}
	}
	
	.border-card {
		border: 1px solid $color-border-light;
		padding: 15px;
		
	}
	
	.task-title {		
		margin-bottom: 20px;
		padding-left: 0;
		
		h4 {
			margin-top: 0;
			@include post-title;
			margin-bottom: 3px;
		}
		
		.status-wrap {
			opacity: 0.8;	
		}
		
		.task-meta {
			margin-left: $statusW+12px;
			padding-top: 3px;			
		}
		
		.title-content {			
		}
		
		.subtitle-content {
			position: relative;
			.label {
				padding: 0.1em 0.6em 0.2em
			}
			.alert-info {
				background: #dadada;
				border: none;				
			}
		}
	}
		
	.task-summary {
		position: relative;
		//padding-left: $statusW+12px;
		
		.reward {
			//margin-left: $statusW+12px;
			//color: #00e676;
			color: $color-deadline-no-urgent;
		}
		
		.reward-icon-bg{
			background: $color-deadline-no-urgent;
			border-radius: 50%;
			display: inline-block;
			width: 20px;
			height: 20px;
			text-align: center;
			vertical-align: middle;
			margin-right: 4px;
			
			span {
				color: $color-white;				
			}
		}
	}
	
	.task-activity {
		padding: 2px;
		border: 1px solid $color-border-normal;
		width: $statusW;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
		line-height: 1;
		b {
			display: block;
			font-size: 21px;
			line-height: 21px;
			padding-top: 1px;
		}
		
		span {
			font-size: 9px;
			line-height: 10px;
			text-transform: lowercase;
		}
		
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.tags {
		font-size: 0.8em;
		color: $color-text-meta;
		line-height: 1;
		padding-left: 30px;
		
		a {
			//font-weight: bold;
			color: $color-text-meta;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.read-more { text-align: right;}
	.read-more a {
		@include details-link;
		background: #fff;
		color: $color-text-light;
		padding: 3px 15px;
	}
	
	/* opacity */
	.task-params {
		.reward,
		.reward:hover {
			border-color: transparentize($color-label-green-normal, 0.7);
			.glyphicon {
				color : transparentize($color-label-green-normal, 0.7);
			}
		}
		
		.deadline.urgent:hover,
		.deadline.urgent {
			border-color: transparentize($color-deadline-urgent, 0.8);			
			.glyphicon {
				color : transparentize($color-deadline-urgent, 0.8);
			}
		}
		
		.deadline.low-urgency:hover,
		.deadline.low-urgency {
			border-color: transparentize($color-deadline-low-urgent, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-low-urgent, 0.7);
			}
		}
		
		.deadline.no-urgency:hover,
		.deadline.no-urgency {
			border-color: transparentize($color-deadline-no-urgent, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-no-urgent, 0.7);
			}
		}
		
		.deadline.all-time-of-world {
			border-color: transparentize($color-deadline-all-time, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-all-time, 0.7);
			}
		}
	}
}

.pagination {
	.page-numbers {
		padding: 5px 12px;
		color: $color-text-light;
		&:hover {
			background: $color-secondary;
			color: $color-text-semi;
		}
	}
	.active .page-numbers,
	.active .page-numbers:hover,
	.active .page-numbers:focus {
		background: #e1e1e1;
		font-weight: bold;
		border-color: #ddd;
	}
}


/** single task **/
.task-title {
	position: relative;
	padding-left: $statusW+6px;
	.status-wrap {
		width: $statusW;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	.label {
		font-size: 11px;
		vertical-align: middle;		
	}
		
}

.task-title .status-wrap .label,
.task-actions .page-heading .label {
	color: $color-white;
	background: $color-text-light;
}


.task-actions .page-heading .alert-info,
.task-title .status-wrap .alert-info {
	color: $color-white;
	background: $color-label-green-normal;
}

.task-actions .page-heading .alert-success,
.task-title .status-wrap .alert-success {
	color: $color-white;
	background: $color-label-red-normal; // #F05923;
}

.task-actions .page-heading .alert-warning,
.task-title .status-wrap .alert-warning {
	color: $color-white;
	background: $color-text-semi;
}


.in-single .task-summary{
	padding-left: $statusW/2;
	margin-bottom: $divMargin;
}

.in-single .task-details {
	padding-left: $statusW/2;
	
	.tab-pane-body {
		padding-top: $divMargin;
	}
}

.page-title .edit-item {
	display: inline-block;	
	font-size: 11px;
	margin-left: 15px;
	margin-top: 4px;	
	vertical-align: top;
	a {
		display: inline-block;
		padding: 5px 12px 6px;
		background: $color-white;
		text-decoration: none;
		&:hover {
			color: $color-white;
			background: $color-link-one;
		}
	}
}

.task-footer {
	padding-left: $statusW /2 + 15px;		
}



.nextprev {
	
	span {
		display: inline-block;		
	}
	a {
		font-size: 12px;
		display: inline-block;
		color: $color-text-light;		
		&:hover {
			color: $color-text-light;
			text-decoration: underline;
		}
	}
}

.grey-tabs{	
	li {
		a {
		background: $color-secondary;
		color: $color-text-semi;
		border: none;
		border-bottom: 1px solid $color-secondary;
		&:hover {
			background: $color-border-light;
			text-decoration: none;
			border-bottom-color: $color-border-light;
		}
		}
	}
	.active  {
		
	}
}

.connected-users {
	margin-top: 3em;
	
	h5 {
		margin-bottom: 2em;		
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			@include smart-margin(10px);
			margin-left: 0;
			position: relative;
			@include clearfix;
			font-size: 13px;
		}
		
		.c-img {
			float: left;
			width: 11%;			
			margin-right: 3%;
		}
		
		.c-name {
			float: left;
			width: (100% - 33% - 11% - 6%);
			min-height: 36px;
			font-weight: bold;
			margin-right: 3%;
			
			.user-rating {
				display: block;
				margin-top:2px;
				font-weight: normal;			
				color: $color-text-light; 
				span {
					color: $color-label-green-normal;
					
				}
			}
		}
		
		.c-actions {
			float: left;
			width: 33%;			
			.c-status-app,
			.c-status-app:hover {
				background: $color-label-green-normal;
				cursor: default;
			}
			.c-status-napp {
				background: $color-deadline-all-time;
				border-color: $color-deadline-all-time;
				cursor: default;
			}
		}
	}
}

.single-tasks .in-single .col-md-8 > .alert {
	margin-left: $statusW / 2;
}

.status-block-task .row-top {
	margin-bottom: 15px;
}

.single-tasks {
	.tab-pane {
		padding-left: 15px;
	}

	.task-param,
	.task-param:hover {
		padding: 10px 8px;
		background: #fbfbfb;
		.glyphicon {
			font-size: 14px;
			margin-right: 4px;
		}
	}
	
	.reward {
		width: 100%;		
	}
	
	.tags {
		font-size: 12px;
		a {
			display: inline-block;
			border: 2px solid $color-border-light;
			padding: 4px 12px;
			color: $color-text;
			background: $color-white;
			text-decoration: none;
			&:hover {
				background: $color-label-green-normal;
				border-color: $color-label-green-normal;
				color: $color-white;
			}
		}
	}
	
	/* opacity */
	.task-params {
		.reward,
		.reward:hover {
			border-color: transparentize($color-label-green-normal, 0.2);			
		}
		
		.deadline.urgent:hover,
		.deadline.urgent {
			border-color: transparentize($color-deadline-urgent, 0.2);
		}
		
		.deadline.low-urgency:hover,
		.deadline.low-urgency {
			border-color: transparentize($color-deadline-low-urgent, 0.2);
		}
		
		.deadline.no-urgency:hover,
		.deadline.no-urgency {
			border-color: transparentize($color-deadline-no-urgent, 0.2);
		}
		
		.deadline.all-time-of-world {
			border-color: transparentize($color-deadline-all-time, 0.2);			
		}
	}
}


/** task actions **/
.chosen-container-multi .chosen-choices {
	border-color: $color-border-normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 

	li.search-field input[type="text"] {
		height: 32px;
		padding: 8px 12px 4px;
		font-size: 14px;
	}
}

.help-block.button-status {
	margin-bottom: 2em; 
}

.task-actions .pull-right + .return-button {
	margin-top: 30px;
}



/** comments **/
.comment-list {
	list-style-type: none;
	.children {
		list-style-type: none;
		padding-left: 44px;
	}
	
	.panel-footer {
		padding : {
			top: 5px;
			bottom: 5px;
		}
		font-size: 13px;
	}
}

.comment-body .comment-avatar {
	width: 34px;
}

#commentsubmit {
	background-color: $color-link-one;
	border: 1px solid $color-link-one;
	cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	&:hover {
		background-color: $color-link-two;
		border-color:  $color-link-two;
	}
}

#reply-title {
	font-size: 16px;
}


/** Members **/
.member-scope {
	font-style: italic;
	color: $color-text-light;
	height: 20px;
}
	
.in-loop .member {
	margin: {
		top: 10px;
		bottom: 10px;
	}
	
	&:nth-of-type(2n+1) {
		clear: left;
	}
		
	.border-card {
		padding: 15px;		
	}
	
	.thumbnail {
		margin-bottom: 0;
		width: 100px;
		height: 100px;
		border: none;
		padding: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
	.member-status {
		margin-top: 4px;
		
		.label {
			background: $color-user-user;
			&.hero { background: $color-user-hero; }
			&.donee { background: $color-user-donee; }
			&.activist { background: $color-user-activist; }
			&.volunteer { background: $color-user-volunteer; }
		}
	}
	
	.member-title {
		@include post-title;
		margin: 15px 0 5px;
	}
			
	.member-meta {
		color: $color-text-meta;
		font-size: 0.857em;
		a {
			color: $color-text-semi;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.member-header {
		margin-bottom: 15px;
	}
		
	.member-more {
		margin-bottom: 0;
		a {
			@include details-link;
		}
	}
	
	
}

.page-title + .subtitle {
	font-style: italic;
	color: $color-text-meta;
	margin-top: 5px;
}

.member-links-list {	
	dt {
		float: left;
		width: 90px;
		color: $color-text-meta;
	}
	
	dd {
		margin-left: 95px;
		margin-bottom: 10px;
	}
}


.member-data-list {
	dt {
		color: $color-text-meta;
		float: left;
		width: 90px;
	}	
	dd {
		margin-bottom: 10px;
		margin-left: 95px;
	}
}

.member-activity .table tbody tr:nth-of-type(1) {
	td, th {
		border-top: none !important;
	}
	
}



/** Profile **/
.member-actions .col-md-8 h4 {
	@include smart-margin(1.5em);
}

section[class |="data-section"] {
	@include smart-margin($divMargin);
}

div[class |="status-block"] {
	.row-top {
		text-align: right;
	}
}

.status-block-member .row-top {
	margin-bottom: 10px;
}
.status-block-member .row-main {
	@include clearfix;
}

.role-marker {
	float: right;
	position: relative;
	.vlabel {
		top: 16px;
		left: -22px;
	}
	button {
		width: 150px;
		height: 49px;	
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		cursor: default;
	}
	
	.role-desc {		
		background: $color-text-light;
		color: $color-white;
		padding: 2px 7px;
		margin-left: 5px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		cursor: pointer;
	}
}

.member-activity table {
	margin-bottom: 0;
	.user-rating {
		color: $color-label-green-normal;
	}
	.num {
		text-align: right;
		span {
			cursor: pointer;
		}
	}
}

.member-tasks {
	.tab-pane {
		padding: 25px 15px;
		border-bottom: 1px solid #ddd;
	}
	.well {
		font-size: 13px;
	}
}

.member-tasks-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		@include smart-margin(15px);
		padding: 0;
	}
	
	.mt-meta {
		font-size: 0.85em;
		color: $color-text-meta;
		a {
			color: $color-text-meta;
		}
		strong {
			font-weight: normal;
			color: $color-text-meta;
		}
	}
}



/** member tasks */
#tasks-closed,
#tasks-working-on,
#tasks-created {
	padding: 30px 15px;
}

.task-row {
	@include smart-margin(15px);
	border-bottom: 1px solid $color-border-light;
	padding-bottom: 8px;
	
	h5 {
		margin-top: 0;
		margin-bottom: 7px;
	}
	
	.task-row-meta {
		font-size: 13px;
		color: $color-text-meta;
	}
	
	.task-row-action {
		text-align: right;
		a {
			margin-left: 8px;
		}
	}
}



/** search & 404 **/
.sbutton-holder {
	margin-left: -20px;
	input {
		padding: {
			top: 7px;
			bottom: 7px;
		}
	}
}

.res-count {
	font-size: 13px;
	background: $color-border-light;
	padding: 7px 12px;
}

.no-results.not-found {
	min-height: 400px;	
}

.page-body .search-holder {
	margin-bottom: 28px;
}

.search-item {
	@include smart-margin(20px);
	.title-part {
		color: $color-text-light;
	}
}

.search .page-body .col-md-7 {
	min-height: 400px;
}

.not-found-404 {
	.search-holder {
		margin-top: 36px;
	}
	.page-content {
		min-height: 400px;
	}
}

.err-mark {
	color: $color-link-one;
	font-size: 120px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
}



/* tasks filters */
.members-filters-frame,
.tasks-filters-frame {
	position: relative;
	z-index: 10;
	font-size: 12px;
	
	#members-filters-trigger,
	#tasks-filters-trigger {
		border: 1px solid #aaa;
		background: $color-white;
		width: 200px;
		color: $color-text-light;
		cursor: pointer;
		&:hover {
			color: $color-text-semi;
		}
		.txt {
			display: inline-block;
			padding: 5px 0 5px 5px;
		}
		.icon {
			cursor: pointer;
			width: 28px;
			border-left: 1px solid #aaa;			
			background: #f9f9f9;
			text-align: center;
			height: 27px;
			span {
				font-size: 18px;
				margin-top: 3px;
			}
		}
	}
	
	#members-filters,
	#tasks-filters {
		position: absolute;
		top: 28px;
		right: 0;
		background: $color-white;
		border: 1px solid $color-border-normal;
		z-index: 1000;
		padding: 25px 25px 10px;
		-webkit-box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		
		#task_tags_chosen,
		.form-control {
			font-size: 13px;
		}
	}
}


.page-body #menu-about {
	li {
		border-bottom: 1px solid $color-border-light;
		
	}
	
	a {
		font-size: 0.9em;
		display: block;
		padding: 8px 2px 2px;		
		text-transform: uppercase;
		color: $color-text;
		@include transition(all 0.3s);
		
		&:hover {
			color: darken($color-text, 5%);
			background: $color-secondary;
			text-decoration: none;
		}		
	}
}



/* members count */
.itv-total-members-footer {
  margin:20px 12px 0px 0px;
  color: $color-text-meta;
}

.itv-total-members-heading {
	margin-left:15px;
	font-weight: normal;
	font-size: 0.75em;
	color: rgba(0,0,0,0.54);  
}

.itv-home-prefooter {
	margin-top:40px;
	background-color: $color-label-green-normal;
	color: $color-white;
	padding: $measure-columns-gut/2;
	@include for(small-screens) {
		padding: $measure-columns-gut/2 $measure-columns-gut;
	}
	
	
	p {
		font-size:1.4em;
		width:50%;
		//font-weight: bold;
		margin: 0;
	}
	
	.register-prefooter, .add-new-task-button {
		background-color: $color-label-green-normal;
		color: $color-white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding:10px 20px;
		font-size: 1.3em;
		display:block;
		border:3px solid $color-white;
		//font-weight: bold;
		@include transition(all 0.3s);
		
		&:hover {
			text-decoration: none;
			background-color: darken($color-label-green-normal, 10%);
		}
	}
}





/* notifications */
#menu-actions {
	.badge {
		background: #ED9C28;
	}
	.dropdown-menu {
		li {
			position: relative;
			.badge {
				position: absolute;
				right: 3px;
				top: 0;
				background: #ED9C28;
			}
		}
	}
}

.page-decor > .alert {
	margin: 10px 30px;
	padding: 10px 15px;
}

/* doer reviews */
.itv-reviews-tabs {
    padding-left:15px;  
}

.itv-user-reviews-list {
    margin-top:20px;
    padding:0px 20px 0px 20px;
}

.itv-user-reviews-list .itv-user-review-item {
    padding:0px 0px 20px 0px;
}

.itv-user-reviews-list .itv-user-review-message {
    padding-bottom:0px;
    font-style:italic;
}

.itv-user-reviews-list .itv-user-review-author {
    text-align:right;
}