/* project styles */


/* common */

#menu-center {
	.dropdown-menu {
		width: 277px;
	}
}

.task-details,
.inpage-footer {
	margin: 20px 0;
}

.task-details {
	position: relative;	
}

.page-content {
	min-height: 300px;
}

.page-content.contacts {
	margin-bottom: 20px;
	min-height: 0;
}


/* real **/
.widefat {
	width: 100%;	
}

.text-center {
	text-align: center;
}

.ui-datepicker {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}


.btn-grey {
	background: #f3f3f3;
	&:hover {
		background: $color-border-light;
	}
}

.btn-delete{
	border: 2px solid #A94442;
	color: #A94442;
}


.sharing {	
	text-align: right;
	padding-right: 10px;
	.txt {
		display: inline-block;
		margin-top: -2px;
		vertical-align: text-top;
		font-size: 0.9em;
		color: #999;
		margin-right: 10px;
	}
	.share-buttons {
		display: inline-block;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}


/** Layout **/
body {
	padding-top: 50px;
	background: #e6e6e6 url(../img/bg.png) repeat 0 0;
}

body.admin-bar {
	
	.navbar-fixed-top {
		top: 32px;
	}
}

/* header */
.site-branding {
	position: relative;
	width: 200px;
}
.site-branding .navbar-brand {
	display: block;
	background: transparent url(../img/logo.png) no-repeat 15px center;
	width: 180px;
	@include image-replace;	
	height: 50px;
	
}

.navbar-form[role="search"] {
	input[type="text"] {
		width: 168px;	
	}	
}

#menu-center {
margin-left: 97px;
background: rgb(35,77,114); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,77,114,1) 0%, rgba(50,118,177,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,77,114,1)), color-stop(100%,rgba(50,118,177,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(35,77,114,1) 0%,rgba(50,118,177,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(35,77,114,1) 0%,rgba(50,118,177,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(35,77,114,1) 0%,rgba(50,118,177,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(35,77,114,1) 0%,rgba(50,118,177,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234d72', endColorstr='#3276b1',GradientType=0 ); /* IE6-9 */
	li {
		& > a {
			padding-right: 25px;
			padding-left: 25px;
			color: $color-border-normal;
			&:hover {
				background: transparentize($color-link-one, 0.98); 
				color: $color-white;
			}
		}
		border-right: 1px solid rgba(35,77,114,1);
	}
	
	.dropdown.open{
		& > a {
			background: transparentize($color-link-one, 0.98); 
			color: $color-white;
		}
	}
	.dropdown-menu li {
		border-right: none;
	}
}

.page-decor {
	border: 1px solid #c2c2c2;
	background: $color-white;		
	margin-bottom: 10px;
}

.page-bottom,
.page-heading {
	background: $color-secondary;
	border-top: 1px solid $color-border-light;
	border-bottom: 1px solid $color-border-light;
	padding: {
		top: 15px;
		bottom: 15px;
	}
}

.page-bottom,
.page-heading,
.page-body {
	padding: {
		left: 30px;
		right: 30px;
	}
}

.page-heading {
	margin-bottom: $divMargin;	
	.breadcrumb {
		margin: 0;
		background: transparent;
		padding: 0 0 7px;
		font-size: 0.92em;
		a {
			color: $color-text-semi;
			&:hover {
				color: $color-text;
			}
		}
	}
	h1 {
		margin: 0;
		font-weight: normal;
	}
}

.page-body {
	min-height: 400px;
}

.task-actions {
	.page-heading .breadcrumb {
		margin-bottom: 10px;
	}
	.alert a {
		color: $color-label-green-dark;
	}
}

.page-bottom {
	margin-top: $divMargin;
}

#colophon {
	font-size: 11px;
	color: $color-text-semi;
	a {
		color: $color-text-semi;
		&:hover {
			color: $color-text;	
		}
	}
	.copy {
		padding: 0 30px 40px;
	}
}


.widget {
	img {
		max-width: 100%;
		height: auto;		
	}
	h3, h5 {
		margin-top: 0;
	}
	
	ul, ol {
		padding: 0;
		list-style-type: none;
	}
	
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
}

.te-st {
	text-align: right;
	a {
		display: inline-block;
		
	}
}

/* contact form */
#bottombar {
	#open-contact-form {
		font-size: 13px;
		cursor: pointer;
		color: $color-text-light;
		margin-top: 63px;
		&:hover {
			text-decoration: underline;
			color: $color-link-one;
		}
	}
	
	#close-contact-form {		
		display: inline-block;
		cursor: pointer;
		margin-right: 5px;
		margin-top: 10px;
		&:hover {
			color: $color-label-red-dark;
			text-decoration: underline;
		}
	}
	
	.widget {
		padding: 20px 0;
	}
}

.page-template-homepage #bottombar {
	margin-top: 0;
}

.contact-form-result {	
	display: none;
}

#contact-form .form-group .alert-danger {
	padding: {
		top: 5px;
		bottom: 5px;
	}
	margin-top: 5px;
}




/** Tasks **/
.task-params {
	.task-param,
	.task-param:hover {
		padding: 10px 15px;
		border-color: $color-label-green-normal;
		color: $color-label-green-normal;
		background: white;
		cursor: default;
	}
	
	.glyphicon {
		font-size: 15px;
		margin-right: 10px;
	}
		
	.deadline.urgent:hover,
	.deadline.urgent {
		border-color: $color-deadline-urgent;
		color: $color-deadline-urgent;
	}
	
	.deadline.low-urgency:hover,
	.deadline.low-urgency {
		border-color: $color-deadline-low-urgent;
		color: $color-deadline-low-urgent;
	}
	
	.deadline.no-urgency:hover,
	.deadline.no-urgency {
		border-color: $color-deadline-no-urgent;
		color: $color-deadline-no-urgent;
	}
	
	.deadline.all-time-of-world {
		border-color: $color-deadline-all-time;
		color: $color-deadline-all-time;
	}
		
	.reward-name ,
	.deadline-date {		
		font-weight: bold;
	}
	
}

.fixed-member-meta,
.task-meta {
	color: $color-text-meta;
	font-size: 0.857em;
	a {
		color: $color-text-semi;			
		&:hover {
			text-decoration: underline;
		}
	}
}
	
	
.in-loop{
	.type-tasks {
		margin: {
			top: 15px;
			bottom: 15px;
		}
		
		&:nth-of-type(2n+1) {
			clear: left;
		}
	}
	
	.border-card {
		border: 2px solid $color-border-light;
		padding: 15px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	
	.task-title {
		padding-left: $statusW+12px;
		margin-bottom: 15px;
		h4 {
			margin-top: 0;
			margin-bottom: 4px;
			@include post-title;
		}
		.status-wrap {
			opacity: 0.8;	
		}
	}
	
	
	
	.task-summary {
		position: relative;
		padding-left: $statusW+12px;
		
		.deadline.btn {
			width: 100%;
		}
		
		.row {
			margin: 0 -6px;
		}
		div[class *= "col-md"]{
			padding: {
				left: 6px;
				right: 6px;
			}
		}
	}
	
	.task-activity {
		padding: 2px;
		border: 1px solid $color-border-normal;
		width: $statusW;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
		line-height: 1;
		b {
			display: block;
			font-size: 21px;
			line-height: 21px;
			padding-top: 1px;
		}
		
		span {
			font-size: 9px;
			line-height: 10px;
			text-transform: lowercase;
		}
		
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.tags {
		font-size: 0.857em;
		margin: 12px 0 15px;
		color: $color-text-meta;
		a {
			font-weight: bold;
			color: $color-text-semi;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.read-more a {
		@include details-link;
	}
	
	/* opacity */
	.task-params {
		.reward,
		.reward:hover {
			border-color: transparentize($color-label-green-normal, 0.7);
			.glyphicon {
				color : transparentize($color-label-green-normal, 0.7);
			}
		}
		
		.deadline.urgent:hover,
		.deadline.urgent {
			border-color: transparentize($color-deadline-urgent, 0.8);			
			.glyphicon {
				color : transparentize($color-deadline-urgent, 0.8);
			}
		}
		
		.deadline.low-urgency:hover,
		.deadline.low-urgency {
			border-color: transparentize($color-deadline-low-urgent, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-low-urgent, 0.7);
			}
		}
		
		.deadline.no-urgency:hover,
		.deadline.no-urgency {
			border-color: transparentize($color-deadline-no-urgent, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-no-urgent, 0.7);
			}
		}
		
		.deadline.all-time-of-world {
			border-color: transparentize($color-deadline-all-time, 0.7);
			.glyphicon {
				color : transparentize($color-deadline-all-time, 0.7);
			}
		}
	}
}

.pagination {
	.page-numbers {
		padding: 5px 12px;
		color: $color-text-light;
		&:hover {
			background: $color-secondary;
			color: $color-text-semi;
		}
	}
	.active .page-numbers,
	.active .page-numbers:hover,
	.active .page-numbers:focus {
		background: #e1e1e1;
		font-weight: bold;
		border-color: #ddd;
	}
}


/** single task **/
.task-title {
	position: relative;
	padding-left: $statusW+6px;
	.status-wrap {
		width: $statusW;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	.label {
		font-size: 11px;
		vertical-align: middle;		
	}
		
}

.task-title .status-wrap .label,
.task-actions .page-heading .label {
	color: $color-white;
	background: $color-text-light;
}


.task-actions .page-heading .alert-info,
.task-title .status-wrap .alert-info {
	color: $color-white;
	background: $color-label-green-normal;
}

.task-actions .page-heading .alert-success,
.task-title .status-wrap .alert-success {
	color: $color-white;
	background: $color-label-red-normal; // #F05923;
}

.task-actions .page-heading .alert-warning,
.task-title .status-wrap .alert-warning {
	color: $color-white;
	background: $color-text-semi;
}


.in-single .task-summary{
	padding-left: $statusW/2;
	margin-bottom: $divMargin;
}

.in-single .task-details {
	padding-left: $statusW/2;
	
	.tab-pane-body {
		padding-top: $divMargin;
	}
}

.page-title .edit-item {
	display: inline-block;	
	font-size: 11px;
	margin-left: 15px;
	margin-top: 4px;	
	vertical-align: top;
	a {
		display: inline-block;
		padding: 5px 12px 6px;
		background: $color-white;
		text-decoration: none;
		&:hover {
			color: $color-white;
			background: $color-link-one;
		}
	}
}

.task-footer {
	padding-left: $statusW /2 + 15px;		
}



.nextprev {
	
	span {
		display: inline-block;		
	}
	a {
		font-size: 12px;
		display: inline-block;
		color: $color-text-light;		
		&:hover {
			color: $color-text-light;
			text-decoration: underline;
		}
	}
}

.grey-tabs{	
	li {
		a {
		background: $color-secondary;
		color: $color-text-semi;
		border: none;
		border-bottom: 1px solid $color-secondary;
		&:hover {
			background: $color-border-light;
			text-decoration: none;
			border-bottom-color: $color-border-light;
		}
		}
	}
	.active  {
		
	}
}

.connected-users {
	margin-top: 3em;
	
	h5 {
		margin-bottom: 2em;		
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			@include smart-margin(10px);
			margin-left: 0;
			position: relative;
			@include clearfix;
			font-size: 13px;
		}
		
		.c-img {
			float: left;
			width: 11%;			
			margin-right: 3%;
		}
		
		.c-name {
			float: left;
			width: (100% - 33% - 11% - 6%);
			min-height: 36px;
			font-weight: bold;
			margin-right: 3%;
			
			.user-rating {
				display: block;
				margin-top:2px;
				font-weight: normal;			
				color: $color-text-light; 
				span {
					color: $color-label-green-normal;
					
				}
			}
		}
		
		.c-actions {
			float: left;
			width: 33%;			
			.c-status-app,
			.c-status-app:hover {
				background: $color-label-green-normal;
				cursor: default;
			}
			.c-status-napp {
				background: $color-deadline-all-time;
				border-color: $color-deadline-all-time;
				cursor: default;
			}
		}
	}
}

.single-tasks .in-single .col-md-8 > .alert {
	margin-left: $statusW / 2;
}

.status-block-task .row-top {
	margin-bottom: 15px;
}

.single-tasks {
	.tab-pane {
		padding-left: 15px;
	}

	.task-param,
	.task-param:hover {
		padding: 10px 8px;
		background: #fbfbfb;
		.glyphicon {
			font-size: 14px;
			margin-right: 4px;
		}
	}
	
	.reward {
		width: 100%;		
	}
	
	.tags {
		font-size: 12px;
		a {
			display: inline-block;
			border: 2px solid $color-border-light;
			padding: 4px 12px;
			color: $color-text;
			background: $color-white;
			text-decoration: none;
			&:hover {
				background: $color-label-green-normal;
				border-color: $color-label-green-normal;
				color: $color-white;
			}
		}
	}
	
	/* opacity */
	.task-params {
		.reward,
		.reward:hover {
			border-color: transparentize($color-label-green-normal, 0.2);			
		}
		
		.deadline.urgent:hover,
		.deadline.urgent {
			border-color: transparentize($color-deadline-urgent, 0.2);
		}
		
		.deadline.low-urgency:hover,
		.deadline.low-urgency {
			border-color: transparentize($color-deadline-low-urgent, 0.2);
		}
		
		.deadline.no-urgency:hover,
		.deadline.no-urgency {
			border-color: transparentize($color-deadline-no-urgent, 0.2);
		}
		
		.deadline.all-time-of-world {
			border-color: transparentize($color-deadline-all-time, 0.2);			
		}
	}
}


/** task actions **/
.chosen-container-multi .chosen-choices {
	border-color: $color-border-normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 

	li.search-field input[type="text"] {
		height: 32px;
		padding: 8px 12px 4px;
		font-size: 14px;
	}
}

.help-block.button-status {
	margin-bottom: 2em; 
}

.task-actions .pull-right + .return-button {
	margin-top: 30px;
}



/** comments **/
.comment-list {
	list-style-type: none;
	.children {
		list-style-type: none;
		padding-left: 44px;
	}
	
	.panel-footer {
		padding : {
			top: 5px;
			bottom: 5px;
		}
		font-size: 13px;
	}
}

.comment-body .comment-avatar {
	width: 34px;
}

#commentsubmit {
	background-color: $color-link-one;
	border: 1px solid $color-link-one;
	cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	&:hover {
		background-color: $color-link-two;
		border-color:  $color-link-two;
	}
}

#reply-title {
	font-size: 16px;
}


/** Members **/
.member-scope {
	font-style: italic;
	color: $color-text-light;
	height: 20px;
}
	
.in-loop .member {
	margin: {
		top: 10px;
		bottom: 10px;
	}
	
	&:nth-of-type(2n+1) {
		clear: left;
	}
		
	.border-card {
		padding: 15px;		
	}
	
	.thumbnail {
		margin-bottom: 0;
	}
	
	.member-status {
		margin-top: 4px;
	}
	
	.member-title {
		@include post-title;
		margin: 15px 0 5px;
	}
			
	.member-meta {
		color: $color-text-meta;
		font-size: 0.857em;
		a {
			color: $color-text-semi;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.member-header {
		margin-bottom: 15px;
	}
		
	.member-more {
		margin-bottom: 0;
		a {
			@include details-link;
		}
	}
	
	
}

.page-title + .subtitle {
	font-style: italic;
	color: $color-text-meta;
	margin-top: 5px;
}

.member-links-list {	
	dt {
		float: left;
		width: 90px;
		color: $color-text-light;
	}
	
	dd {
		margin-left: 95px;
		margin-bottom: 10px;
	}
}


.member-data-list {
	dt {
		color: $color-text-meta;
		float: left;
		width: 90px;
	}	
	dd {
		margin-bottom: 10px;
		margin-left: 95px;
	}
}

.member-activity .table tbody tr:nth-of-type(1) {
	td, th {
		border-top: none !important;
	}
	
}



/** Profile **/
.member-actions .col-md-8 h4 {
	@include smart-margin(1.5em);
}

section[class |="data-section"] {
	@include smart-margin($divMargin);
}

div[class |="status-block"] {
	.row-top {
		text-align: right;
	}
}

.status-block-member .row-top {
	margin-bottom: 10px;
}
.status-block-member .row-main {
	@include clearfix;
}

.role-marker {
	float: right;
	position: relative;
	.vlabel {
		top: 16px;
		left: -22px;
	}
	button {
		width: 150px;
		height: 49px;	
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		cursor: default;
	}
	
	.role-desc {		
		background: $color-text-light;
		color: $color-white;
		padding: 2px 7px;
		margin-left: 5px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		cursor: pointer;
	}
}

.member-activity table {
	margin-bottom: 0;
	.user-rating {
		color: $color-label-green-normal;
	}
	.num {
		text-align: right;
		span {
			cursor: pointer;
		}
	}
}

.member-tasks {
	.tab-pane {
		padding: 25px 15px;
		border-bottom: 1px solid #ddd;
	}
	.well {
		font-size: 13px;
	}
}

.member-tasks-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		@include smart-margin(10px);
		padding: 0;
	}
	.mt-title {
		margin-bottom: 5px;
	}
	.mt-meta {
		font-size: 13px;
		color: $color-text-black;
		strong {
			font-weight: normal;
			color: $color-text-light;
		}
	}
}

/** member tasks */
#tasks-working-on,
#tasks-created {
	padding: 30px 15px;
}

.task-row {
	@include smart-margin(15px);
	border-bottom: 1px solid $color-border-light;
	padding-bottom: 8px;
	
	h5 {
		margin-top: 0;
		margin-bottom: 7px;
	}
	
	.col-md-2 {
		font-size: 13px;
		color: $color-text-semi;
	}
	
	.col-md-4 {
		text-align: right;
		a {
			margin-left: 8px;
		}
	}
}



/** Registration **/
.register-form .panel-body {
	background: #fcfcfc;
}

.register-form .panel-heading {
	background: #f3f3f3;
}

.login-form {
	background: #fafafa;
	border: 1px solid #eee;
	padding: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	margin-bottom: 200px;
	
	#login-message {
		@include smart-margin(15px);	
	}
}

.validation-message {
	//display: none;
	margin-top: 5px;
	padding: 5px 15px;
	background: #F2DEDE;
	border: 1px solid #EBCCD1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #A94442;
	font-size: 13px;
}

#register-form-message.validation-message {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	color: inherit;
}

.activation-message {
	min-height: 500px;
}

#login-message.alert-danger a {
	color: $color-label-red-dark;
	&:hover {
		text-decoration: underline;
	}
}


/** search & 404 **/
.sbutton-holder {
	margin-left: -20px;
	input {
		padding: {
			top: 7px;
			bottom: 7px;
		}
	}
}

.res-count {
	font-size: 13px;
	background: $color-border-light;
	padding: 7px 12px;
}

.no-results.not-found {
	min-height: 400px;	
}

.page-body .search-holder {
	margin-bottom: 28px;
}

.search-item {
	@include smart-margin(20px);
	.title-part {
		color: $color-text-light;
	}
}

.search .page-body .col-md-7 {
	min-height: 400px;
}

.not-found-404 {
	.search-holder {
		margin-top: 36px;
	}
	.page-content {
		min-height: 400px;
	}
}

.err-mark {
	color: $color-link-one;
	font-size: 120px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
}


/** homepage **/
.intro-panel {
	background: #EDEDED;	
	padding: 20px 30px;
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	
	.well {
		margin: 0px 0px 0px 0px;
		background: #fff;
		border: 1px solid #c7c7c7;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 15px 40px;
		
		.col-md-10 div[class *="home-text"]{			
			padding-left: 10px;
		}
	}
	
	.intro-play-video-button {
		background-color: #F9F9F9;
		border: 1px solid #C5C5C5;
		width: 200px;
		height:100px;
		margin: 3px 0px 0px 0px;
		cursor:pointer;
		
		.intro-play-icon {
			width:64px;
			height:64px;
			background-image: url(../img/play-video-64.png);
			margin: auto;
			margin-top:8px;
		}
		
		.intro-play-lable {
			text-align: center;
			color: $color-text-light;
			font-size:1em;
			font-weight: bold;
			margin-top:3px;
		}
	}
	
	.modal-dialog {
		width: 680px;
	}
}

.home-header-buttons {
	color: $color-text;
	
	.add-new-task-button {
		background-color: $color-label-green-normal;
		color: $color-white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 10px 0;
		font-size: 1.2em;
		text-align: center;
		display:block;
		position:absolute;
		bottom:-70px;
		right:60px;
		font-weight: bold;
		width: 200px;
		@include transition(all 0.3s);
		&:hover {
			text-decoration: none;
			background: darken($color-label-green-normal, 10%);
		}
	}
	
	.home-header-members-count {
		text-align: left;
		padding: 15px 0px 0px 40px;
		text-transform: uppercase;
		width:23%;		
	}
	
	/* tasks stats buttons */
	.itv-tasks-stats {
		margin:15px 0px 0px 45px;
	}
	
	.itv-tasks-stats span {
		text-transform: uppercase;
	}
	
	.itv-tasks-stats a {
		margin-left:30px;
		background:none;
		border: none;
		color: $color-text;
	}
	
	.itv-tasks-stats a:hover {
	}
}

.home-section {
	padding: 0 30px;
	h3 {
		margin-top: 0;
	}
}

.home-section.tasks {
	padding-top: 30px;
}

.home-nav {
	margin-top: $divMargin;
	text-align: center;
}

.intro-logo {
	max-width: 110px;
	padding-top: 10px;
	img {
		max-width: 100%;
		height: auto;
	}
}

.home-text {
	padding: 3px 15px 0px 15px;
}

/* tasks filters */
.members-filters-frame,
.tasks-filters-frame {
	position: relative;
	z-index: 10;
	font-size: 12px;
	
	#members-filters-trigger,
	#tasks-filters-trigger {
		border: 1px solid #aaa;
		background: $color-white;
		width: 200px;
		color: $color-text-light;
		cursor: pointer;
		&:hover {
			color: $color-text-semi;
		}
		.txt {
			display: inline-block;
			padding: 5px 0 5px 5px;
		}
		.icon {
			cursor: pointer;
			width: 28px;
			border-left: 1px solid #aaa;			
			background: #f9f9f9;
			text-align: center;
			height: 28px;
			span {
				font-size: 18px;
				margin-top: 3px;
			}
		}
	}
	
	#members-filters,
	#tasks-filters {
		position: absolute;
		top: 28px;
		right: 0;
		background: $color-white;
		border: 1px solid $color-border-normal;
		z-index: 1000;
		padding: 25px 25px 10px;
		-webkit-box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		
		#task_tags_chosen,
		.form-control {
			font-size: 13px;
		}
	}
}


/* Recent News */

//loop
.tpl-post {
	margin-bottom:15px;	
	.border-card {
		padding: 18px 25px;
	}
	
	h4 {
		@include post-title;
	}
	
	.post-meta {
		color: $color-text-meta;
		font-size: 0.857em;
		margin-top: 4px;
	}
	
	.post-preview {
		margin: 15px 0;
		a {
			display: block;
		}
	}
}

.single-post {
	
	.page-summary {
		font-size: 1.52em;
		line-height: 1.4;
		font-weight: 600;
		margin-bottom: 15px;
	}
	
	.page-media {
		margin-bottom: 15px;
	}
	
	h3, h4 {
		margin-top: 1.5em;
	}
}


.page-body #menu-about {
	li {
		border-bottom: 1px solid $color-border-light;
		
	}
	
	a {
		font-size: 0.9em;
		display: block;
		padding: 8px 2px 2px;		
		text-transform: uppercase;
		color: $color-text;
		@include transition(all 0.3s);
		
		&:hover {
			color: darken($color-text, 5%);
			background: $color-secondary;
			text-decoration: none;
		}		
	}
}

.widget_recent_entries {
	ul {
		border-top: 1px dotted $color-border-normal;
		border-bottom: 1px dotted $color-border-normal;
		padding-top: 1px;
	}
	li {
		margin-bottom: 1px;
		font-size: 0.95em;
		border-top: 1px dotted $color-border-normal;
		border-bottom: 1px dotted $color-border-normal;
		padding: 6px 0;
	}
	
	.post-date {
		font-weight: bold;
		font-size: 0.95em;
		margin-left: 5px;
		color: $color-text-meta;
	}
}

/* members count */
.itv-total-members-footer {
  margin:20px 12px 0px 0px;
  color: $color-text-meta;
}

.itv-total-members-heading {
  margin-left:20px;
  font-weight: 700;
}

.itv-home-prefooter {
	background-color: $color-label-green-normal;
	color: $color-white;
	padding:15px 40px 15px 40px;
	margin-top:40px;
	
	p {
		font-size:1.4em;
		width:50%;
		font-weight: bold;
		margin: 0;
	}
	
	.register-prefooter, .add-new-task-button {
		background-color: $color-label-green-normal;
		color: $color-white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding:10px 20px;
		font-size: 1.3em;
		display:block;
		border:3px solid $color-white;
		font-weight: bold;
		@include transition(all 0.3s);
		
		&:hover {
			text-decoration: none;
			background-color: darken($color-label-green-normal, 10%);
		}
	}
}

/*	news on main */
.home-news {
	border:1px solid $color-border-normal;
	border-left:none;
	background-color: $color-secondary;
	float:left;
	margin:15px 15px 15px -15px;
	padding-left:30px;
	padding-bottom:30px;
	
	h2 {
		background-color: #A4A4A4;
		color: $color-white;
		font-weight: bold;
		text-transform: uppercase;
		margin: 10px 0 0 -30px;
		padding: 7px 0 7px 30px;
		font-size:1em;
		width:40%;
	}
	
	h4 {
		margin-top:20px;
		
		a {
			font-weight: bold;
			color: $color-text-black;
		}
	}
	
	.home-news-content .thumb-link {
		display: block;
	}
	.home-news-content img {
		margin:0px 0px 10px 0px;
		max-width:495px;
	}
}

.news-pic {
	margin:0px 0px 20px 0px;
}

.itv-home-body {
	@media (min-width:1200px) {
		background-image: url('../img/itv-head-bg.jpg');
		background-repeat: no-repeat;
		background-size: 100% 412px;
	}	
}