/**
 * New design
 *
 * already adopted new styles
 **/

body {
	//padding-top: 50px;
	//background: #e6e6e6 url(../img/bg.png) repeat 0 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAF0lEQVQImWM4c+bMGQaiwOnTp2dilQAAF1kGK+1C+BUAAAAASUVORK5CYII=) repeat;
	background-color: #e6e6e6;
}

a {
	color: $color-link-one;
	&:hover, &:focus, &:active {
		color: $color-link-two;
	}
}


// page header
.page-bottom,
.page-heading {
	background: $color-secondary;
	border-top: 1px solid $color-border-light;
	border-bottom: 1px solid $color-border-light;
	
	padding: {
		top: $measure-columns-gut / 2;
		bottom: $measure-columns-gut / 2;
	}
}

.page-bottom,
.page-heading,
.page-body {
	padding: {
		left: $measure-columns-gut;
		right: $measure-columns-gut;
	}
}

.page-heading {
	margin-bottom: $measure-elements-margin;
	
	&.no-breadcrumbs {
		padding-top: $measure-columns-gut;
	}
	
	.breadcrumb {
		margin: 0;
		background: transparent;
		padding: 0 0 7px;
		font-size: 0.92em;
		
		a {
			color: $color-text-semi;
			&:hover { color: $color-text; }
		}
	}
	
	h1 {
		margin: 0;
		font-weight: normal;
	}
}


/** Taks in loop */
.tpl-task {
	
	.border-card {
		border-top: 1px solid $color-border-light;
		padding: 16px 0 16px 24px;
		position: relative;
	}
	
	.status-wrap {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 22px;
		left: 0;
	}
		
	.status-label {
		display: block;
		width: 10px;
		height: 10px;
		color: rgba(255,255,255,0);
		background: $color-label-green-normal;
		border-radius: 50%;
	}
	
	&.status-in_work .status-label {  background: $color-label-work; }
	&.status-closed .status-label { background: $color-label-closed; }
	
	.task-title {
		@include post-title();
		margin: 0 0 3px;
		padding-left: 0;
	}
	
	.task-meta {
		font-size: 12px;
		color: $color-text-meta;
		font-weight: 300;
		
		a {
			color: $color-text-black;
			font-weight: 300;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	.task-tags {
		font-size: 12px;
		color: $color-text-meta;
		margin-top: 5px;
		
		a {
			color: $color-text-meta;
			font-weight: 500;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	.task-summary {
		position: relative;
	}
	
	.task-reward {
		margin-top: 1em;
		padding-right: $statusW +10px;
		
		.reward-icon  {
			margin-right: 5px;
		}
	}
	
	&.status-publish .reward-label { color: $color-label-green-normal;  }
	
	.task-more {
		width: $statusW;
		position: absolute;
		top: -6px;
		right: 0;
		text-align: center;
		vertical-align: top;
		
		a {
			display: inline-block;
			height: 17px;
			color: transparentize($color-text-meta, 0.3);
			font-weight: bold;
			font-size: 30px;
			letter-spacing: 0.5px;
			line-height: 17px;
			vertical-align: top;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				color: darken($color-text-meta, 20%);
				text-decoration: none;
			}
		}
	}
	
} //tpl


/** Tasks List Screen **/
.tasks-list-header {
	.tasks-filters {
		@include clearfix;
		margin: 0;
		padding: 0;
		list-style-type: none;
		padding-top: 12px;
		
		a {
			display: inline-block;
			line-height: 1;
			padding: 4px 13px 6px;
		}
		
		li {
			float: left;
			&.publish a { color: $color-label-green-normal; }
			&.in_work a { color: $color-label-work;}
			&.closed a { color: $color-label-closed;}
		}
				
		li.active {
			a {
				color: $color-white;
				&:hover {
					text-decoration: none;
				}
			}
			
			&.publish a { background: $color-label-green-normal; }
			&.in_work a { background: $color-label-work ;}
			&.closed a { background: $color-label-closed;}
		}
	}
}


/** Members List Screen **/
.members-list-header {
	
		
}


/** Homepage **/
.home-news {
	.border-card {
		border-top: 1px solid $color-border-light;
		padding: 0 0 12px 0;
		position: relative;
	}
	
	h2 {
		background-color: #A4A4A4;
		color: $color-white;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 0 -30px;
		padding: 7px 0 7px 30px;
		font-size: 1em;
		width: 45%;
	}
	
	h4 {
		margin-top:20px;
		
		a {
			font-weight: bold;
			color: $color-text-black;
		}
	}
	
	.home-news-content {
		.thumb-link {
			display: block;
			margin: $measure-elements-margin/2 0;
		}
		
		img {
			max-width: 100%;
			height: auto;
		}
		
		a { text-decoration: none; }
	}	
}


/** Recent News **/
.tpl-post {	
		
	.border-card {
		border-top: 1px solid $color-border-light;
		padding: $measure-columns-gut/2 0 $measure-columns-gut;
	}
	
	h4 {
		@include post-title;
	}
	
	.post-meta {
		color: $color-text-meta;
		font-size: 0.857em;		
	}
	
	.post-preview {
		margin: $measure-columns-gut/2 0;
		a { display: block; }
	}
	
	.post-summary p {
		margin: 0;
	}	
	
}

.blog .tpl-post {
	
	&:nth-of-type(even) {
		padding-left: $measure-columns-gut*1.5;
	}
	&:nth-of-type(odd) {
		padding-right: $measure-columns-gut*1.5;
	}
}

.single-post {
	
	.page-summary {
		font-size: 1.52em;
		line-height: 1.4;
		font-weight: 600;
		margin-bottom: 15px;
	}
	
	.page-media {
		margin-bottom: 15px;
	}
	
	h3, h4 {
		margin-top: 1.5em;
	}
}

.widget_recent_entries {
	ul {
		border-top: 1px solid $color-border-light;
		list-style-type: none;
	}
	li {		
		font-size: 0.95em;		
		border-bottom: 1px solid $color-border-light;
		padding: 6px 0;
	}
	
	.post-date {		
		font-size: 0.85em;
		margin-left: 5px;
		color: $color-text-meta;
	}
}
