/* Additional styles */
.in-loop{	
	.type-tasks {
		margin: {
			top: 15px;
			bottom: 15px;
		}		
	}
	.border-card {
		border: 2px solid $regularBorderC;
		padding: 1px 10px 10px;
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	
	.task-footer {
		background: $regularBorderC;
		-webkit-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		padding: 4px 10px;
		
		.task-log {
			display: inline-block;
			font-size: 11px;
			text-transform: uppercase;
			color: #999;			
			line-height: 25px;
			vertical-align: bottom;
			b {
				color: #333;
			}
		}
	}
	
	.hentry:nth-of-type(2n+1) {
		//clear:left;
	}
	
	.task-title {
		.title-content {
			margin-bottom: 0.5em; 
		}
		h4 {
			margin-bottom: 2px;
			@include post-title;
		}		
	}
	
	.task-summary {
		padding-left: $statusW + 6px - 18px;
		max-width: 380px;
		
		a.btn-default {
			@include details-link;
			margin-top: 13px;
			margin-left: 15px;
		}
	}
}

.member .border-card {
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.fixed-member-meta,
.task-meta {
	font-size: 12px;
	color: #999;
	time {
		color: $regularLinkedTitleC;
	}
	
	a {
		color: $greenOlive;
		&:hover {
			color: $regularLinkedTitleC;
		}
	}
	.status-meta {
		color: $greenOlive;
		text-transform: uppercase;
	}
	
	.sep {
		display: inline-block;
		padding: 0 4px;
	}
}
		
.tags {
	font-size: 12px;
	a {
		display: inline-block;
		border: 2px solid $regularBorderC;
		padding: 4px 12px;
		color: $regularLinkedTitleC;
		background: #fff;
		text-decoration: none;
		&:hover {
			background: $greenLabel;
			border-color: $greenLabel;
			color: #fff;
		}
	}
}