/* Fixes */

/* reward */
.reward.task-param {
	white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;}
	
.task-summary-content  .reward.task-param  {
    max-width: 280px;}

.status-block-task .reward.task-param {
    max-width: none;}
	

.beta-label {
    background-color: red;
    bottom: -7px;
    color: $color-white;
    font-size: 12px;
    left: 48px;
    padding: 1px 3px;
    position: absolute;
}

.footer-rss {
	margin-right:30px;
}

.fb-widget {	
	width:300px;
	margin: 0px auto;
}

#site-navigation .container {
  width: 1170px !important;
}

@media all and (max-width: 1200px)  {
  
  .in-loop .task-summary .task-params div[class *='col'] {
	float: none;
	width: 100%;	
	margin-bottom: 5px; 
  }
  
  .in-loop .task-summary .task-params .deadline {
	width: auto;
  }
  
  .task-summary-content .reward.task-param {
	max-width: 100%;
  }
}

.itv-user-workplace {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#upload_user_company_logo input, #upload_user_avatar input {
	cursor:pointer;
}

a.itv-company-logo-action, a.itv-company-logo-action:hover,
a.itv-avatar-action, a.itv-avatar-action:hover {
	margin-bottom: 5px;
	text-decoration: none;
	vertical-align: middle;  
	text-decoration:none;
}

.itv-about-reward-bubble {
	margin-top:5px;
	margin-bottom:5px;
}

.itv-about-reward-bubble {
	margin-top:5px;
	margin-bottom:5px;
	width:70%;
}

.itv-test-employee, .itv-test-partner {
	width:20px;
	margin-left:5px;
}

.itv-test-employee-big, .itv-test-partner-big {
	width:50px;
}

.skills_list .form-group {
	width:30%;
	float:left;
	height: 50px;
	overflow: hidden;
}

.itv-task-view-row {
    margin-top: 10px;
}

.itv-task-view-row .btn {
	cursor: default;
	border: none;
	background:none;
}

.itv-task-view-row .task-param.btn,
.itv-task-view-row .task-param.btn:hover {
  background: none;
}

/* customize comments subscriptions */
.comment-form-subscriptions {
	display:none !important;
}

.label-from {
  font-size: 0.8em;
}

/* task form sub label */
.itv-task-form-sublabel {
  font-size:0.9em;
  font-style: italic;
  margin:0px 0px 10px 0px;
}

#is_tst_consult_needed {
  margin-right:5px;
  vertical-align: top;
}


/*	links footer sidebar */
.widget.widget_links.bottom {
	h5 { font-weight: 700; }

	ul {
		padding-left:0px;
		li {
			list-style: none;
			margin-bottom:10px;
		}
		a {
			display: block;
			margin-bottom:3px;
		}
	}
}

