/** Presets **/
$regularBgC: #f5f5f5;
$regularLinkC: #428BCA;
$regulatLinkHoverC: #2a6496;
$regularBorderC: #e9e9e9;
$regularLinkedTitleC: #333;

$greenLabel: #5CB85C;
$greenSaturated: #3C763D;
$greenOlive: #9bd15b;

$redLabel: #D2322D;
$redSaturated: #A94442;

$metaTextC: #777;

$divMargin: 30px;
$statusW: 65px;


@mixin smart-margin($margin) {
	margin:{
		top: $margin;
		bottom: $margin;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-decoration: none;
}

@mixin clearfix {	
	&:before,
	&:after {
		content: " "; 
		display: table;
	}	
	&:after {
		clear: both;
	}
}

@mixin post-title {
	a {
		color: $regularLinkedTitleC;
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin details-link {
	padding: 4px 24px;
	background: #f1f1f1;
	//opacity: 0.5;
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;
	&:hover {
		color: #fff;
		background: $greenLabel;
		border-color: $greenLabel;
		opacity: 1;
	}
}


@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;
	 
	// Unsupporting browsers get this
	border-color: $color;
	 
	// Browsers that support RGBA will get this instead
	border-color: rgba($color, $opacity);
	 
	// Prevent the element's background from reaching the edge of the border
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}


