/** Presets **/

$greenOlive: #9bd15b;

$divMargin: 30px;
$statusW: 65px;

$color-label-work: #FFAB00;
$color-label-closed: darken(#8899A6, 20%);


$color-text : #333 !default;
$color-white: #fff !default;
$color-text-black: #111 !default;

$color-link-one : #0095C7 !default; 
$color-link-two : #026E93 !default; 
//$color-link-one : #428BCA !default; 
//$color-link-two : #2a6496 !default; 

$color-secondary : #f5f5f5;
$color-border-normal: #ccc;
$color-border-light : #eee !default; 

$color-label-green-normal: #5CB85C;
$color-label-green-dark: #3C763D;
$color-label-green-semi: #9bd15b;

$color-label-red-normal: #D2322D;
$color-label-red-dark: #A94442;

$color-text-semi: #666 !default; 
$color-text-meta: #8899A6 !default; 
$color-text-light: #999 !default; 

$color-deadline-urgent: #D2322D;
$color-deadline-low-urgent: $color-label-work; //#f0ad4e;
$color-deadline-no-urgent: #5BC0DE;
$color-deadline-all-time: #aeaeae;

$measure-columns-gut: 30px;
$measure-elements-margin: 30px;

$menu_height: 46px;

// media queries
$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;

@mixin for($media) {
	@if $media == small-screens {
		@media screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (min-width: $screen-lg-min) { @content; }
	}
}

@mixin upto($media) {
	@if $media == small-screens {
		@media screen and (max-width: $screen-sm-min - 1) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (max-width: $screen-md-min - 1) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (max-width: $screen-lg-min - 1) { @content; }
	}
}

//media query for retina displays
@mixin for-retina(){
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2), //that's FF bug in some versions
	only screen and (   -moz-min-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 	  
		// Retina-specific stuff here
		@content;	
	}	
}



// mixins
@mixin smart-margin($margin) {
	margin:{
		top: $margin;
		bottom: $margin;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-decoration: none;
}

@mixin clearfix {	
	&:before,
	&:after {
		content: " "; 
		display: table;
	}	
	&:after {
		clear: both;
	}
}

@mixin post-title {
	a {
		color: $color-text;
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin details-link {
	padding: 4px 24px;
	background: #f1f1f1;	
	@include transition(all 0.35s);
	&:hover {
		color: #fff;
		background: $color-deadline-no-urgent;
		border-color: $color-deadline-no-urgent;
		opacity: 1;
	}
}


@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;
	 
	// Unsupporting browsers get this
	border-color: $color;
	 
	// Browsers that support RGBA will get this instead
	border-color: rgba($color, $opacity);
	 
	// Prevent the element's background from reaching the edge of the border
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}


