.site-footer {
  margin-top: $base * 5;
  padding-top: 52px;
  padding-bottom: $base * 8;
  background-color: $color-gray-light-lg;

  .site-footer-inner {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-light-md;
    height: 36px;
    padding-bottom: 20px;
    align-items: center;

    .logo-col {
      .logo {
      }
    }

    .links-col {
      display: flex;
      align-items: center;
      height: 100%;

      a {
        @include text-line-sm;
        color: $color-gray-dark-md;
        margin-left: 44px;

        &.drop-menu {
          @include drop-down-arrow(20px);
        }
      }

      & > li {
        color: $color-gray-dark-lg;
        position: relative;

        &.drop-menu {
          @include drop-down-arrow(20px);

          a {
            @include a-no-hover-underline;
          }

          &:hover .submenu {
            display: block;
          }
        }

        .submenu {
          text-align: left;
          top: 0px;
          left: auto;
          right: 0;

          @include screen-from(xl) {
            left: 40px;
            right: auto;
          }

          a {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    margin-top: $base * 3;

    h3 {
      @include text-line-sm;
      color: $color-gray-dark-xl;
      margin-bottom: $base * 2;
    }

    .col-stats {
      max-width: 190px;

      .stats {
        p {
          @include text-xs-line-lg;
          color: $color-gray-dark-lg;
          margin-bottom: 4px;
        }
      }
    }

    .col-social {
      max-width: 190px;

      .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
          @include text-xs;
          color: $color-gray-dark-lg;
          display: block;
          height: 20px;
          vertical-align: middle;
          width: 50%;
          margin-bottom: $base * 2;

          &:before {
            display: inline-block;
            content: " ";
            width: 20px;
            height: 20px;
            margin-right: $base;
            vertical-align: middle;
          }

          &[href^="https://www.facebook.com"]:before
          {
            background-image: url("../../img/icon-social-fb.svg");
          }

          &[href^="https://teleg.run"]:before, &[href^="https://t.me"]:before
          {
            background-image: url("../../img/icon-social-tg.svg");
          }

          &[href^="https://vk.com"]:before
          {
            background-image: url("../../img/icon-social-vk.svg");
          }

          &[href^="https://itv.te-st.ru"]:before
          {
            background-image: url("../../img/icon-social-rss.svg");
          }
        }
      }
    }

    .col-projects {
      flex-grow: 1;
      max-width: 623px;
      margin-left: 10%;

      .projects {
        display: flex;
        justify-content: flex-start;

        .project {
          &:not(:last-child) {
            margin-right: $base * 3;
          }

          a {
            @include text-xs;
            color: $color-main;
            display: block;
            margin-bottom: $base;
          }

          p {
            @include text-xs-line-lg;
            color: $color-gray-dark-lg;
          }
        }
      }
    }
  }

  .owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .col-text {
      @include text-xs-line-lg;
      color: $color-gray-dark-md;

      p {
      }
    }

    .col-logo {
      padding-right: 10px;
    }
  }
}

// mobile
@include media-breakpoint-down(md) {
  .site-footer {
    padding: 24px 16px 16px 24px;

    .site-footer-inner {
      .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        .links-col {
          display: block;
          padding-top: 16px;

          li {
            padding: 5px 0px;
            a {
              margin-left: 0px;
            }
          }

          .submenu {
            position: relative;
            display: block;
            background-color: transparent;
            border: none;
            box-shadow: none;
            border-radius: 0px;
            z-index: 0;
            cursor: default;
            padding: 5px 0px 0px 32px;
            top: 0px;
            left: 0px;

            li {
              padding: 5px 0px;

              &:first-child {
                display: none;
              }

              a {
                @include text-line-sm;
                color: $color-gray-dark-md;
                margin-left: 0px;
              }
            }
          }

          .drop-menu {
            &:after {
              display: none;
            }
          }
        }
      }

      .info {
        flex-wrap: wrap;

        .col-stats {
          flex-basis: 100%;
        }

        .col-projects {
          margin-left: 0px;
          margin-top: 24px;

          .projects {
            flex-wrap: wrap;
            justify-content: space-between;

            .project {
              flex-basis: 50%;
              margin-right: 0px;
              margin-bottom: 16px;
            }
          }
        }

        .col-social {
          width: 100%;
          max-width: unset;

          .social-links {
            justify-content: space-between;

            a {
              display: inline-block;
              flex-basis: 50%;
            }
          }
        }
      }

      .owner {
        align-items: flex-start;

        .col-text {
          flex-basis: 70%;
          margin-right: 5%;
        }
      }
    }
  }
}
