/**
 * Admin style
 **/

.admin-tmb {
	width: 54px; }

.admin-tmb img {
	max-width: 100%;
	height: auto; }


#csp-credentials,
div[aria-describedby="csp-credentials"] {
	z-index: 2000000000000;
}

.itv-admin-test-consult-needed {
  color:#ff0000;
}

.itv-admin-test-consult-done {
  color:#00bb00;
}
