/* project styles */
/** Presets **/
/* project styles */
/* common */
#menu-center .dropdown-menu {
  width: 277px; }

.task-details,
.inpage-footer {
  margin: 20px 0; }

.task-details {
  position: relative; }

.page-content {
  min-height: 300px; }

.page-content.contacts {
  margin-bottom: 20px;
  min-height: 0; }

/* real **/
.widefat {
  width: 100%; }

.text-center {
  text-align: center; }

.ui-datepicker {
  display: none; }

img {
  max-width: 100%;
  height: auto; }

.btn-grey {
  background: #f3f3f3; }
  .btn-grey:hover {
    background: #eee; }

.btn-delete {
  border: 2px solid #A94442;
  color: #A94442; }

.sharing {
  text-align: right;
  padding-right: 10px; }
  .sharing .txt {
    display: inline-block;
    margin-top: -2px;
    vertical-align: text-top;
    font-size: 0.9em;
    color: #999;
    margin-right: 10px; }
  .sharing .share-buttons {
    display: inline-block;
    opacity: 0.5; }
    .sharing .share-buttons:hover {
      opacity: 1; }

/** Layout **/
.task-actions .page-heading .breadcrumb {
  margin-bottom: 10px; }
.task-actions .alert a {
  color: #3C763D; }

/** Tasks **/
.task-params .task-param,
.task-params .task-param:hover {
  padding: 10px 15px;
  border-color: #5CB85C;
  color: #5CB85C;
  background: white;
  cursor: default; }
.task-params .glyphicon {
  font-size: 15px;
  margin-right: 10px; }
.task-params .deadline.urgent:hover,
.task-params .deadline.urgent {
  border-color: #D2322D;
  color: #D2322D; }
.task-params .deadline.low-urgency:hover,
.task-params .deadline.low-urgency {
  border-color: #f0ad4e;
  color: #f0ad4e; }
.task-params .deadline.no-urgency:hover,
.task-params .deadline.no-urgency {
  border-color: #5BC0DE;
  color: #5BC0DE; }
.task-params .deadline.all-time-of-world {
  border-color: #aeaeae;
  color: #aeaeae; }
.task-params .reward-name,
.task-params .deadline-date {
  font-weight: bold; }

.fixed-member-meta,
.task-meta {
  color: #8899A6;
  font-size: 0.857em; }
  .fixed-member-meta a,
  .task-meta a {
    color: #666; }
    .fixed-member-meta a:hover,
    .task-meta a:hover {
      text-decoration: underline; }

.in-loop-old {
  /* opacity */ }
  .in-loop-old .type-tasks-old {
    margin-top: 15px; }
    .in-loop-old .type-tasks-old .border-card {
      margin-left: -7px; }
    .in-loop-old .type-tasks-old:nth-of-type(2n+1) .border-card {
      margin-right: -7px; }
  .in-loop-old .border-card {
    border: 1px solid #eee;
    padding: 15px; }
  .in-loop-old .task-title {
    margin-bottom: 20px;
    padding-left: 0; }
    .in-loop-old .task-title h4 {
      margin-top: 0;
      margin-bottom: 3px; }
      .in-loop-old .task-title h4 a {
        color: #333; }
        .in-loop-old .task-title h4 a:hover {
          text-decoration: underline; }
    .in-loop-old .task-title .status-wrap {
      opacity: 0.8; }
    .in-loop-old .task-title .task-meta {
      margin-left: 77px;
      padding-top: 3px; }
    .in-loop-old .task-title .subtitle-content {
      position: relative; }
      .in-loop-old .task-title .subtitle-content .label {
        padding: 0.1em 0.6em 0.2em; }
      .in-loop-old .task-title .subtitle-content .alert-info {
        background: #dadada;
        border: none; }
  .in-loop-old .task-summary {
    position: relative; }
    .in-loop-old .task-summary .reward {
      color: #5BC0DE; }
    .in-loop-old .task-summary .reward-icon-bg {
      background: #5BC0DE;
      border-radius: 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      margin-right: 4px; }
      .in-loop-old .task-summary .reward-icon-bg span {
        color: #fff; }
  .in-loop-old .task-activity {
    padding: 2px;
    border: 1px solid #ccc;
    width: 65px;
    border-radius: 4px;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0; }
    .in-loop-old .task-activity b {
      display: block;
      font-size: 21px;
      line-height: 21px;
      padding-top: 1px; }
    .in-loop-old .task-activity span {
      font-size: 9px;
      line-height: 10px;
      text-transform: lowercase; }
  .in-loop-old .tags {
    font-size: 0.8em;
    color: #8899A6;
    line-height: 1;
    padding-left: 30px; }
    .in-loop-old .tags a {
      color: #8899A6; }
      .in-loop-old .tags a:hover {
        text-decoration: underline; }
  .in-loop-old .read-more {
    text-align: right; }
  .in-loop-old .read-more a {
    padding: 4px 24px;
    background: #f1f1f1;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    background: #fff;
    color: #999;
    padding: 3px 15px; }
    .in-loop-old .read-more a:hover {
      color: #fff;
      background: #5BC0DE;
      border-color: #5BC0DE;
      opacity: 1; }
  .in-loop-old .task-params .reward,
  .in-loop-old .task-params .reward:hover {
    border-color: rgba(92, 184, 92, 0.3); }
    .in-loop-old .task-params .reward .glyphicon,
    .in-loop-old .task-params .reward:hover .glyphicon {
      color: rgba(92, 184, 92, 0.3); }
  .in-loop-old .task-params .deadline.urgent:hover,
  .in-loop-old .task-params .deadline.urgent {
    border-color: rgba(210, 50, 45, 0.2); }
    .in-loop-old .task-params .deadline.urgent:hover .glyphicon,
    .in-loop-old .task-params .deadline.urgent .glyphicon {
      color: rgba(210, 50, 45, 0.2); }
  .in-loop-old .task-params .deadline.low-urgency:hover,
  .in-loop-old .task-params .deadline.low-urgency {
    border-color: rgba(240, 173, 78, 0.3); }
    .in-loop-old .task-params .deadline.low-urgency:hover .glyphicon,
    .in-loop-old .task-params .deadline.low-urgency .glyphicon {
      color: rgba(240, 173, 78, 0.3); }
  .in-loop-old .task-params .deadline.no-urgency:hover,
  .in-loop-old .task-params .deadline.no-urgency {
    border-color: rgba(91, 192, 222, 0.3); }
    .in-loop-old .task-params .deadline.no-urgency:hover .glyphicon,
    .in-loop-old .task-params .deadline.no-urgency .glyphicon {
      color: rgba(91, 192, 222, 0.3); }
  .in-loop-old .task-params .deadline.all-time-of-world {
    border-color: rgba(174, 174, 174, 0.3); }
    .in-loop-old .task-params .deadline.all-time-of-world .glyphicon {
      color: rgba(174, 174, 174, 0.3); }

.pagination .page-numbers {
  padding: 5px 12px;
  color: #999; }
  .pagination .page-numbers:hover {
    background: #f5f5f5;
    color: #666; }
.pagination .active .page-numbers,
.pagination .active .page-numbers:hover,
.pagination .active .page-numbers:focus {
  background: #e1e1e1;
  font-weight: bold;
  border-color: #ddd; }

/** single task **/
.task-title {
  position: relative;
  padding-left: 71px; }
  .task-title .status-wrap {
    width: 65px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  .task-title .label {
    font-size: 11px;
    vertical-align: middle; }

.task-title .status-wrap .label,
.task-actions .page-heading .label {
  color: #fff;
  background: #999; }

.task-actions .page-heading .alert-info,
.task-title .status-wrap .alert-info {
  color: #fff;
  background: #5CB85C; }

.task-actions .page-heading .alert-success,
.task-title .status-wrap .alert-success {
  color: #fff;
  background: #D2322D; }

.task-actions .page-heading .alert-warning,
.task-title .status-wrap .alert-warning {
  color: #fff;
  background: #666; }

.in-single .task-summary {
  padding-left: 32.5px;
  margin-bottom: 30px; }

.in-single .task-details {
  padding-left: 32.5px; }
  .in-single .task-details .tab-pane-body {
    padding-top: 30px; }

.page-title .edit-item {
  display: inline-block;
  font-size: 11px;
  margin-left: 15px;
  margin-top: 4px;
  vertical-align: top; }
  .page-title .edit-item a {
    display: inline-block;
    padding: 5px 12px 6px;
    background: #fff;
    text-decoration: none; }
    .page-title .edit-item a:hover {
      color: #fff;
      background: #0095C7; }

.task-footer {
  padding-left: 47.5px; }

.nextprev span {
  display: inline-block; }
.nextprev a {
  font-size: 12px;
  display: inline-block;
  color: #999; }
  .nextprev a:hover {
    color: #999;
    text-decoration: underline; }

.grey-tabs li a {
  background: #f5f5f5;
  color: #666;
  border: none;
  border-bottom: 1px solid #f5f5f5; }
  .grey-tabs li a:hover {
    background: #eee;
    text-decoration: none;
    border-bottom-color: #eee; }

.connected-users {
  margin-top: 3em; }
  .connected-users h5 {
    margin-bottom: 2em; }
  .connected-users ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .connected-users ul li {
      padding: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
      position: relative;
      font-size: 13px; }
      .connected-users ul li:first-child {
        margin-top: 0; }
      .connected-users ul li:last-child {
        margin-bottom: 0; }
      .connected-users ul li:before, .connected-users ul li:after {
        content: " ";
        display: table; }
      .connected-users ul li:after {
        clear: both; }
    .connected-users ul .c-img {
      float: left;
      width: 11%;
      margin-right: 3%; }
    .connected-users ul .c-name {
      float: left;
      width: 50%;
      min-height: 36px;
      font-weight: bold;
      margin-right: 3%; }
      .connected-users ul .c-name .user-rating {
        display: block;
        margin-top: 2px;
        font-weight: normal;
        color: #999; }
        .connected-users ul .c-name .user-rating span {
          color: #5CB85C; }
    .connected-users ul .c-actions {
      float: left;
      width: 33%; }
      .connected-users ul .c-actions .c-status-app,
      .connected-users ul .c-actions .c-status-app:hover {
        background: #5CB85C;
        cursor: default; }
      .connected-users ul .c-actions .c-status-napp {
        background: #aeaeae;
        border-color: #aeaeae;
        cursor: default; }

.single-tasks .in-single .col-md-8 > .alert {
  margin-left: 32.5px; }

.status-block-task .row-top {
  margin-bottom: 15px; }

.single-tasks {
  /* opacity */ }
  .single-tasks .tab-pane {
    padding-left: 15px; }
  .single-tasks .task-param,
  .single-tasks .task-param:hover {
    padding: 10px 8px;
    background: #fbfbfb; }
    .single-tasks .task-param .glyphicon,
    .single-tasks .task-param:hover .glyphicon {
      font-size: 14px;
      margin-right: 4px; }
  .single-tasks .reward {
    width: 100%; }
  .single-tasks .tags {
    font-size: 12px; }
    .single-tasks .tags a {
      display: inline-block;
      border: 2px solid #eee;
      padding: 4px 12px;
      color: #333;
      background: #fff;
      text-decoration: none; }
      .single-tasks .tags a:hover {
        background: #5CB85C;
        border-color: #5CB85C;
        color: #fff; }
  .single-tasks .task-params .reward,
  .single-tasks .task-params .reward:hover {
    border-color: rgba(92, 184, 92, 0.8); }
  .single-tasks .task-params .deadline.urgent:hover,
  .single-tasks .task-params .deadline.urgent {
    border-color: rgba(210, 50, 45, 0.8); }
  .single-tasks .task-params .deadline.low-urgency:hover,
  .single-tasks .task-params .deadline.low-urgency {
    border-color: rgba(240, 173, 78, 0.8); }
  .single-tasks .task-params .deadline.no-urgency:hover,
  .single-tasks .task-params .deadline.no-urgency {
    border-color: rgba(91, 192, 222, 0.8); }
  .single-tasks .task-params .deadline.all-time-of-world {
    border-color: rgba(174, 174, 174, 0.8); }

/** task actions **/
.chosen-container-multi .chosen-choices {
  border-color: #ccc;
  border-radius: 4px; }
  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 32px;
    padding: 8px 12px 4px;
    font-size: 14px; }

.help-block.button-status {
  margin-bottom: 2em; }

.task-actions .pull-right + .return-button {
  margin-top: 30px; }

/** comments **/
.comment-list {
  list-style-type: none; }
  .comment-list .children {
    list-style-type: none;
    padding-left: 44px; }
  .comment-list .panel-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px; }

.comment-body .comment-avatar {
  width: 34px; }

#commentsubmit {
  background-color: #0095C7;
  border: 1px solid #0095C7;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  border-radius: 4px;
  color: #fff; }
  #commentsubmit:hover {
    background-color: #026E93;
    border-color: #026E93; }

#reply-title {
  font-size: 16px; }

/** Members **/
.member-scope {
  font-style: italic;
  color: #999;
  height: 20px; }

.in-loop .member {
  margin-top: 10px;
  margin-bottom: 10px; }
  .in-loop .member:nth-of-type(2n+1) {
    clear: left; }
  .in-loop .member .border-card {
    padding: 15px; }
  .in-loop .member .thumbnail {
    margin-bottom: 0;
    width: 100px;
    height: 100px; }
    .in-loop .member .thumbnail img {
      max-width: 100%;
      height: auto; }
  .in-loop .member .member-status {
    margin-top: 4px; }
  .in-loop .member .member-title {
    margin: 15px 0 5px; }
    .in-loop .member .member-title a {
      color: #333; }
      .in-loop .member .member-title a:hover {
        text-decoration: underline; }
  .in-loop .member .member-meta {
    color: #8899A6;
    font-size: 0.857em; }
    .in-loop .member .member-meta a {
      color: #666; }
      .in-loop .member .member-meta a:hover {
        text-decoration: underline; }
  .in-loop .member .member-header {
    margin-bottom: 15px; }
  .in-loop .member .member-more {
    margin-bottom: 0; }
    .in-loop .member .member-more a {
      padding: 4px 24px;
      background: #f1f1f1;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
      .in-loop .member .member-more a:hover {
        color: #fff;
        background: #5BC0DE;
        border-color: #5BC0DE;
        opacity: 1; }

.page-title + .subtitle {
  font-style: italic;
  color: #8899A6;
  margin-top: 5px; }

.member-links-list dt {
  float: left;
  width: 90px;
  color: #999; }
.member-links-list dd {
  margin-left: 95px;
  margin-bottom: 10px; }

.member-data-list dt {
  color: #8899A6;
  float: left;
  width: 90px; }
.member-data-list dd {
  margin-bottom: 10px;
  margin-left: 95px; }

.member-activity .table tbody tr:nth-of-type(1) td, .member-activity .table tbody tr:nth-of-type(1) th {
  border-top: none !important; }

/** Profile **/
.member-actions .col-md-8 h4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .member-actions .col-md-8 h4:first-child {
    margin-top: 0; }
  .member-actions .col-md-8 h4:last-child {
    margin-bottom: 0; }

section[class|="data-section"] {
  margin-top: 30px;
  margin-bottom: 30px; }
  section[class|="data-section"]:first-child {
    margin-top: 0; }
  section[class|="data-section"]:last-child {
    margin-bottom: 0; }

div[class|="status-block"] .row-top {
  text-align: right; }

.status-block-member .row-top {
  margin-bottom: 10px; }

.status-block-member .row-main:before, .status-block-member .row-main:after {
  content: " ";
  display: table; }
.status-block-member .row-main:after {
  clear: both; }

.role-marker {
  float: right;
  position: relative; }
  .role-marker .vlabel {
    top: 16px;
    left: -22px; }
  .role-marker button {
    width: 150px;
    height: 49px;
    border-radius: 0px;
    cursor: default; }
  .role-marker .role-desc {
    background: #999;
    color: #fff;
    padding: 2px 7px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer; }

.member-activity table {
  margin-bottom: 0; }
  .member-activity table .user-rating {
    color: #5CB85C; }
  .member-activity table .num {
    text-align: right; }
    .member-activity table .num span {
      cursor: pointer; }

.member-tasks .tab-pane {
  padding: 25px 15px;
  border-bottom: 1px solid #ddd; }
.member-tasks .well {
  font-size: 13px; }

.member-tasks-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .member-tasks-list li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0; }
    .member-tasks-list li:first-child {
      margin-top: 0; }
    .member-tasks-list li:last-child {
      margin-bottom: 0; }
  .member-tasks-list .mt-title {
    margin-bottom: 5px; }
  .member-tasks-list .mt-meta {
    font-size: 13px;
    color: #111; }
    .member-tasks-list .mt-meta strong {
      font-weight: normal;
      color: #999; }

/** member tasks */
#tasks-working-on,
#tasks-created {
  padding: 30px 15px; }

.task-row {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px; }
  .task-row:first-child {
    margin-top: 0; }
  .task-row:last-child {
    margin-bottom: 0; }
  .task-row h5 {
    margin-top: 0;
    margin-bottom: 7px; }
  .task-row .col-md-2 {
    font-size: 13px;
    color: #666; }
  .task-row .col-md-4 {
    text-align: right; }
    .task-row .col-md-4 a {
      margin-left: 8px; }

/** search & 404 **/
.sbutton-holder {
  margin-left: -20px; }
  .sbutton-holder input {
    padding-top: 7px;
    padding-bottom: 7px; }

.res-count {
  font-size: 13px;
  background: #eee;
  padding: 7px 12px; }

.no-results.not-found {
  min-height: 400px; }

.page-body .search-holder {
  margin-bottom: 28px; }

.search-item {
  margin-top: 20px;
  margin-bottom: 20px; }
  .search-item:first-child {
    margin-top: 0; }
  .search-item:last-child {
    margin-bottom: 0; }
  .search-item .title-part {
    color: #999; }

.search .page-body .col-md-7 {
  min-height: 400px; }

.not-found-404 .search-holder {
  margin-top: 36px; }
.not-found-404 .page-content {
  min-height: 400px; }

.err-mark {
  color: #0095C7;
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  text-align: center; }

/* tasks filters */
.members-filters-frame,
.tasks-filters-frame {
  position: relative;
  z-index: 10;
  font-size: 12px; }
  .members-filters-frame #members-filters-trigger,
  .members-filters-frame #tasks-filters-trigger,
  .tasks-filters-frame #members-filters-trigger,
  .tasks-filters-frame #tasks-filters-trigger {
    border: 1px solid #aaa;
    background: #fff;
    width: 200px;
    color: #999;
    cursor: pointer; }
    .members-filters-frame #members-filters-trigger:hover,
    .members-filters-frame #tasks-filters-trigger:hover,
    .tasks-filters-frame #members-filters-trigger:hover,
    .tasks-filters-frame #tasks-filters-trigger:hover {
      color: #666; }
    .members-filters-frame #members-filters-trigger .txt,
    .members-filters-frame #tasks-filters-trigger .txt,
    .tasks-filters-frame #members-filters-trigger .txt,
    .tasks-filters-frame #tasks-filters-trigger .txt {
      display: inline-block;
      padding: 5px 0 5px 5px; }
    .members-filters-frame #members-filters-trigger .icon,
    .members-filters-frame #tasks-filters-trigger .icon,
    .tasks-filters-frame #members-filters-trigger .icon,
    .tasks-filters-frame #tasks-filters-trigger .icon {
      cursor: pointer;
      width: 28px;
      border-left: 1px solid #aaa;
      background: #f9f9f9;
      text-align: center;
      height: 27px; }
      .members-filters-frame #members-filters-trigger .icon span,
      .members-filters-frame #tasks-filters-trigger .icon span,
      .tasks-filters-frame #members-filters-trigger .icon span,
      .tasks-filters-frame #tasks-filters-trigger .icon span {
        font-size: 18px;
        margin-top: 3px; }
  .members-filters-frame #members-filters,
  .members-filters-frame #tasks-filters,
  .tasks-filters-frame #members-filters,
  .tasks-filters-frame #tasks-filters {
    position: absolute;
    top: 28px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 25px 25px 10px;
    box-shadow: 1px 1px 3px 1px rgba(200, 200, 200, 0.7); }
    .members-filters-frame #members-filters #task_tags_chosen,
    .members-filters-frame #members-filters .form-control,
    .members-filters-frame #tasks-filters #task_tags_chosen,
    .members-filters-frame #tasks-filters .form-control,
    .tasks-filters-frame #members-filters #task_tags_chosen,
    .tasks-filters-frame #members-filters .form-control,
    .tasks-filters-frame #tasks-filters #task_tags_chosen,
    .tasks-filters-frame #tasks-filters .form-control {
      font-size: 13px; }

.page-body #menu-about li {
  border-bottom: 1px solid #eee; }
.page-body #menu-about a {
  font-size: 0.9em;
  display: block;
  padding: 8px 2px 2px;
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .page-body #menu-about a:hover {
    color: #262626;
    background: #f5f5f5;
    text-decoration: none; }

/* members count */
.itv-total-members-footer {
  margin: 20px 12px 0px 0px;
  color: #8899A6; }

.itv-total-members-heading {
  margin-left: 15px;
  font-weight: normal;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.54); }

.itv-home-prefooter {
  margin-top: 40px;
  background-color: #5CB85C;
  color: #fff;
  padding: 15px; }
  @media screen and (min-width: 768px) {
    .itv-home-prefooter {
      padding: 15px 30px; } }
  .itv-home-prefooter p {
    font-size: 1.4em;
    width: 50%;
    margin: 0; }
  .itv-home-prefooter .register-prefooter, .itv-home-prefooter .add-new-task-button {
    background-color: #5CB85C;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1.3em;
    display: block;
    border: 3px solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .itv-home-prefooter .register-prefooter:hover, .itv-home-prefooter .add-new-task-button:hover {
      text-decoration: none;
      background-color: #449d44; }

/* notifications */
#menu-actions .badge {
  background: #ED9C28; }
#menu-actions .dropdown-menu li {
  position: relative; }
  #menu-actions .dropdown-menu li .badge {
    position: absolute;
    right: 3px;
    top: 0;
    background: #ED9C28; }

.page-decor > .alert {
  margin: 10px 30px;
  padding: 10px 15px; }

/* doer reviews */
.itv-reviews-tabs {
  padding-left: 15px; }

.itv-user-reviews-list {
  margin-top: 20px;
  padding: 0px 20px 0px 20px; }

.itv-user-reviews-list .itv-user-review-item {
  padding: 0px 0px 20px 0px; }

.itv-user-reviews-list .itv-user-review-message {
  padding-bottom: 0px;
  font-style: italic; }

.itv-user-reviews-list .itv-user-review-author {
  text-align: right; }

/* Fixes */
/* reward */
.reward.task-param {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; }

.task-summary-content .reward.task-param {
  max-width: 280px; }

.status-block-task .reward.task-param {
  max-width: none; }

.fb-widget {
  width: 300px;
  margin: 0px auto; }

@media all and (max-width: 1200px) {
  .in-loop .task-summary .task-params div[class*='col'] {
    float: none;
    width: 100%;
    margin-bottom: 5px; }

  .in-loop .task-summary .task-params .deadline {
    width: auto; }

  .task-summary-content .reward.task-param {
    max-width: 100%; } }
.itv-user-workplace {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#upload_user_company_logo input, #upload_user_avatar input {
  cursor: pointer; }

a.itv-company-logo-action, a.itv-company-logo-action:hover,
a.itv-avatar-action, a.itv-avatar-action:hover {
  margin-bottom: 5px;
  text-decoration: none;
  vertical-align: middle;
  text-decoration: none; }

.itv-about-reward-bubble {
  margin-top: 5px;
  margin-bottom: 5px; }

.itv-about-reward-bubble {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%; }

.itv-test-employee, .itv-test-partner {
  width: 20px;
  margin-left: 5px; }

.itv-test-employee-big, .itv-test-partner-big {
  width: 50px; }

.skills_list .form-group {
  width: 30%;
  float: left;
  height: 50px;
  overflow: hidden; }

.itv-task-view-row {
  margin-top: 10px; }

.itv-task-view-row .btn {
  cursor: default;
  border: none;
  background: none; }

.itv-task-view-row .task-param.btn,
.itv-task-view-row .task-param.btn:hover {
  background: none; }

/* customize comments subscriptions */
.comment-form-subscriptions {
  display: none !important; }

.label-from {
  font-size: 0.8em; }

/* task form sub label */
.itv-task-form-sublabel {
  font-size: 0.9em;
  font-style: italic;
  margin: 0px 0px 10px 0px; }

#is_tst_consult_needed {
  margin-right: 5px;
  vertical-align: top; }

/**
 * New design
 *
 * already adopted new styles
 **/
body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAF0lEQVQImWM4c+bMGQaiwOnTp2dilQAAF1kGK+1C+BUAAAAASUVORK5CYII=) repeat;
  background-color: #e6e6e6;
  min-height: 100%;
  width: 100%; }

a {
  color: #0095C7; }
  a:hover, a:focus, a:active {
    color: #026E93; }

.site-layout-container {
  height: 100%;
  position: absolute;
  width: 100%; }

.site-layout {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  z-index: 1; }

#site_navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 46px;
  z-index: 10000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

#page {
  padding-top: 46px; }

.page-heading {
  background: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px; }

.page-body {
  min-height: 500px; }

.page-decor {
  border: 1px solid #c2c2c2;
  background: #fff;
  margin-bottom: 15px; }

.page-heading,
.page-body {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 768px) {
    .page-heading,
    .page-body {
      padding-left: 30px;
      padding-right: 30px; } }

.page-heading {
  margin-bottom: 30px; }
  .page-heading.no-breadcrumbs {
    padding-top: 30px; }
  .page-heading.tasks-list-header {
    margin-bottom: 14px; }
  .page-heading .breadcrumb {
    margin: 0;
    background: transparent;
    padding: 0 0 7px;
    font-size: 0.92em; }
    .page-heading .breadcrumb a {
      color: #666; }
      .page-heading .breadcrumb a:hover {
        color: #333; }
  .page-heading h1 {
    margin: 0;
    font-weight: normal; }

.page-bottom {
  margin-top: 30px;
  background: #f5f5f5;
  border-top: 1px solid #eee;
  padding: 30px 15px; }
  @media screen and (min-width: 768px) {
    .page-bottom {
      padding: 30px; } }

.widget img {
  max-width: 100%;
  height: auto; }
.widget h3, .widget h5 {
  margin-top: 0; }
.widget .widget-title {
  margin-bottom: 30px; }
.widget ul, .widget ol {
  padding: 0;
  list-style-type: none; }
.widget li {
  list-style-type: none;
  margin-bottom: 10px; }

.te-st:before, .te-st:after {
  content: " ";
  display: table; }
.te-st:after {
  clear: both; }
.te-st a {
  display: block;
  float: right;
  box-sizing: border-box;
  position: relative;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
  color: #B5B5B5;
  text-decoration: none;
  width: 180px;
  text-align: left;
  padding: 3px 0 5px 37px; }
  @media screen and (min-width: 768px) {
    .te-st a {
      letter-spacing: 0.7px; } }
  .te-st a:before {
    content: '';
    display: block;
    width: 25px;
    height: 40px;
    background: url("../img/logo-sprite.png") no-repeat -59px -44px;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .te-st a:before {
        background: url("../img/logo-sprite-2x.png") no-repeat -59px -44px;
        background-size: 84px 84px; } }

#bottombar .footer-info {
  font-size: 12px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.54); }
#bottombar #open-contact-form {
  display: inline-block;
  cursor: pointer;
  color: #333;
  max-width: 180px; }
  #bottombar #open-contact-form:hover {
    text-decoration: underline;
    color: #111; }
#bottombar #close-contact-form {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px; }
  #bottombar #close-contact-form:hover {
    color: #A94442;
    text-decoration: underline; }
#bottombar .footer-brand {
  margin-bottom: 15px; }
  #bottombar .footer-brand a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.1;
    color: #333; }
    #bottombar .footer-brand a:hover, #bottombar .footer-brand a:focus, #bottombar .footer-brand a:active {
      text-decoration: none;
      color: #333; }
  #bottombar .footer-brand .beta-label {
    text-transform: lowercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px; }
#bottombar .footer-stat {
  margin-bottom: 30px; }
  #bottombar .footer-stat p {
    margin: 0 0 2px 0; }
#bottombar .widget {
  margin-bottom: 30px; }
  @media screen and (min-width: 992px) {
    #bottombar .widget {
      margin-bottom: 0; } }

.page-template-homepage #bottombar {
  margin-top: 0; }

#contact-form {
  padding-top: 30px; }
  #contact-form .contact-form-result {
    display: none; }
  #contact-form .form-group .alert-danger {
    padding: 5px 0;
    margin-top: 5px; }

#colophon {
  font-size: 11px;
  color: #666; }
  #colophon a {
    color: #666; }
    #colophon a:hover {
      color: #333; }
  #colophon .copy {
    padding: 0 30px 40px; }
  #colophon .footer-rss {
    padding-right: 30px; }

/** Common fixes **/
@media screen and (max-width: 991px) {
  .masonry .col-md-6,
  .item-masonry.col-md-6 {
    width: 100%; } }

/** Menu */
#site_navigation {
  background: #111; }
  #site_navigation .container {
    position: relative; }
    #site_navigation .container:before, #site_navigation .container:after {
      content: " ";
      display: table; }
    #site_navigation .container:after {
      clear: both; }
  #site_navigation .site-branding {
    float: left;
    line-height: 46px;
    vertical-align: middle; }
    #site_navigation .site-branding .logo {
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      display: block;
      width: 180px;
      height: 46px;
      font-size: 20px;
      line-height: 36px;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.93);
      text-decoration: none;
      padding-left: 63px;
      position: relative; }
      #site_navigation .site-branding .logo:before {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        top: 4px;
        background: transparent url("../img/logo-sprite.png") no-repeat 0 0;
        width: 34px;
        height: 36px; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          #site_navigation .site-branding .logo:before {
            background: transparent url("../img/logo-sprite-2x.png") no-repeat 0 0;
            background-size: 84px 84px; } }
  #site_navigation .menu-toggle {
    color: #A9A9A9;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-aligh: center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    #site_navigation .menu-toggle:hover {
      color: #fff; }
    @media screen and (min-width: 1200px) {
      #site_navigation .menu-toggle {
        display: none; } }
  #site_navigation .site-navigation-area {
    clear: both;
    padding: 15px;
    display: none; }
    @media screen and (min-width: 1200px) {
      #site_navigation .site-navigation-area {
        display: block;
        clear: none;
        padding: 0 0 0 220px; } }
  #site_navigation.toggled .site-navigation-area {
    display: block; }
  #site_navigation ul {
    list-style-type: none;
    padding: 0; }
  #site_navigation li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #site_navigation a {
    display: inline-block;
    color: #cccccc;
    line-height: 1;
    padding: 6px 0;
    text-decoration: none;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    #site_navigation a:hover, #site_navigation a:focus, #site_navigation a:active {
      color: #fff; }
  #site_navigation .count {
    color: rgba(255, 255, 255, 0.75);
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 8px; }
  #site_navigation a:hover .count, #site_navigation .count:hover {
    color: #fff;
    cursor: pointer; }
  #site_navigation .submenu {
    padding-left: 15px; }
  @media screen and (min-width: 1200px) {
    #site_navigation ul:before, #site_navigation ul:after {
      content: " ";
      display: table; }
    #site_navigation ul:after {
      clear: both; }
    #site_navigation li {
      float: left;
      position: relative;
      padding: 9.5px 0; }
    #site_navigation a {
      padding: 5px 0;
      line-height: 16px; }
    #site_navigation .submenu {
      display: none;
      padding: 5px 0;
      position: absolute;
      top: 46px;
      left: -20px;
      background: #fff;
      border: 1px solid #eee;
      z-index: 1000;
      min-width: calc(100% + 30px);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
      #site_navigation .submenu li {
        float: none;
        margin: 0;
        padding: 0; }
      #site_navigation .submenu a {
        white-space: nowrap;
        padding: 7px 20px;
        min-width: 100%;
        color: #333; }
        #site_navigation .submenu a:hover, #site_navigation .submenu a:focus, #site_navigation .submenu a:active {
          background: gainsboro;
          color: #111; }
    #site_navigation li:hover .submenu {
      display: block; } }

.fixed-nav #site_navigation {
  width: 100%;
  min-height: 46px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000; }

#content_menu {
  margin: 0; }
  #content_menu .important-item {
    margin-bottom: 6px; }
    #content_menu .important-item .count {
      border-radius: 1px;
      margin: 0 3px;
      padding: 2px 6px;
      background: #5CB85C;
      color: #fff; }
    #content_menu .important-item a:hover .count, #content_menu .important-item .count:hover {
      background: #449d44; }
  #content_menu .important-item-2 a:hover, #content_menu .important-item-2 a:focus, #content_menu .important-item-2 a:active {
    color: #fff; }
  @media screen and (min-width: 1200px) {
    #content_menu {
      float: left; }
      #content_menu:before, #content_menu:after {
        content: " ";
        display: table; }
      #content_menu:after {
        clear: both; }
      #content_menu li {
        margin-right: 30px; }
      #content_menu .important-item {
        margin-bottom: 0; } }

#actions_menu {
  margin: 30px 0 0 0; }
  #actions_menu .important-item a {
    color: #eee; }
    #actions_menu .important-item a:hover, #actions_menu .important-item a:focus, #actions_menu .important-item a:active {
      color: #fff; }
  @media screen and (min-width: 1200px) {
    #actions_menu {
      margin: 0;
      float: right; }
      #actions_menu li {
        margin-left: 30px; } }

/** == Tasks templates **/
/** Taks in loop */
.tpl-task .border-card {
  border-bottom: 1px solid #eee;
  padding: 16px 0 16px 24px;
  position: relative; }
.tpl-task .status-wrap {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 22px;
  left: 0; }
.tpl-task .status-label {
  display: block;
  width: 10px;
  height: 10px;
  color: rgba(255, 255, 255, 0);
  background: #5CB85C;
  border-radius: 50%; }
.tpl-task.status-in_work .status-label {
  background: #FFAB00; }
.tpl-task.status-closed .status-label {
  background: #566672; }
.tpl-task .task-title {
  margin: 0 0 3px;
  padding-left: 0; }
  .tpl-task .task-title a {
    color: #333; }
    .tpl-task .task-title a:hover {
      text-decoration: underline; }
.tpl-task .task-meta {
  font-size: 12px;
  color: #8899A6;
  font-weight: 300; }
  .tpl-task .task-meta a {
    color: #111;
    font-weight: 300; }
    .tpl-task .task-meta a:hover, .tpl-task .task-meta a:focus, .tpl-task .task-meta a:active {
      text-decoration: underline; }
.tpl-task .task-tags {
  font-size: 12px;
  color: #8899A6;
  margin-top: 5px; }
  .tpl-task .task-tags a {
    color: #8899A6;
    font-weight: 500; }
    .tpl-task .task-tags a:hover, .tpl-task .task-tags a:focus, .tpl-task .task-tags a:active {
      text-decoration: underline; }
.tpl-task .task-summary {
  position: relative; }
.tpl-task .task-reward {
  margin-top: 1em;
  padding-right: 75px; }
  .tpl-task .task-reward .reward-icon {
    margin-right: 5px; }
.tpl-task.status-publish .reward-label {
  color: #5CB85C; }
.tpl-task .task-more {
  width: 65px;
  position: absolute;
  top: -6px;
  right: 0;
  text-align: center;
  vertical-align: top; }
  .tpl-task .task-more a {
    display: inline-block;
    height: 17px;
    color: rgba(136, 153, 166, 0.7);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 17px;
    vertical-align: top;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    .tpl-task .task-more a:hover, .tpl-task .task-more a:focus, .tpl-task .task-more a:active {
      color: #566672;
      text-decoration: none; }

/** Tasks List Screen **/
.tasks-list-header .tasks-filters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 12px; }
  .tasks-list-header .tasks-filters:before, .tasks-list-header .tasks-filters:after {
    content: " ";
    display: table; }
  .tasks-list-header .tasks-filters:after {
    clear: both; }
  .tasks-list-header .tasks-filters a {
    display: inline-block;
    line-height: 1;
    padding: 4px 13px 6px; }
  .tasks-list-header .tasks-filters li {
    float: left; }
    .tasks-list-header .tasks-filters li.publish a {
      color: #5CB85C; }
    .tasks-list-header .tasks-filters li.in_work a {
      color: #FFAB00; }
    .tasks-list-header .tasks-filters li.closed a {
      color: #566672; }
  .tasks-list-header .tasks-filters li.active a {
    color: #fff; }
    .tasks-list-header .tasks-filters li.active a:hover {
      text-decoration: none; }
  .tasks-list-header .tasks-filters li.active.publish a {
    background: #5CB85C; }
  .tasks-list-header .tasks-filters li.active.in_work a {
    background: #FFAB00; }
  .tasks-list-header .tasks-filters li.active.closed a {
    background: #566672; }

/** == Members Templates == **/
/** Homepage **/
.home-section {
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .home-section {
      padding: 0 30px; } }
  .home-section.tasks {
    padding-top: 14px; }

.home-nav {
  margin-top: 30px;
  text-align: center; }

.intro-panel {
  background: #EDEDED;
  padding: 15px;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2; }
  @media screen and (min-width: 768px) {
    .intro-panel {
      padding: 20px 30px; } }
  .intro-panel .well {
    margin: 0px;
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 20px 30px; }
  .intro-panel .modal-dialog {
    width: 680px; }
  .intro-panel .intro-text {
    max-width: 850px;
    margin: 0 auto; }
  .intro-panel .intro-actions {
    text-align: center;
    margin-top: 20px; }
  .intro-panel .cta {
    display: inline-block;
    padding: 0 5px; }
  .intro-panel .details {
    display: inline-block;
    padding: 0 5px; }
    .intro-panel .details a {
      color: #8899A6;
      text-decoration: underline;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
      .intro-panel .details a:hover, .intro-panel .details a:focus, .intro-panel .details a:active {
        color: #607381; }
    .intro-panel .details.desktop-only {
      display: none; }
    @media screen and (min-width: 768px) {
      .intro-panel .details.mobile-only {
        display: none; }
      .intro-panel .details.desktop-only {
        display: inline; } }

.home-header-buttons {
  color: #333;
  text-align: center;
  padding-top: 15px; }
  .home-header-buttons span {
    text-transform: uppercase; }
  .home-header-buttons a {
    margin-left: 10px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    white-space: nowrap; }
    .home-header-buttons a:hover, .home-header-buttons a:focus, .home-header-buttons a:active {
      text-decoration: underline; }
  .home-header-buttons .publish {
    color: #5CB85C; }
  .home-header-buttons .in_work {
    color: #FFAB00; }
  .home-header-buttons .closed {
    color: #566672; }

.home-news .border-card {
  border-bottom: 1px solid #eee;
  padding: 0 0 12px 0;
  position: relative; }
.home-news h2 {
  background-color: #A4A4A4;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 -15px;
  padding: 7px 0 7px 15px;
  font-size: 1em;
  width: 90%; }
  @media screen and (min-width: 768px) {
    .home-news h2 {
      width: 45%;
      padding-left: 30px;
      margin-left: -30px; } }
.home-news h4 {
  margin-top: 20px; }
  .home-news h4 a {
    font-weight: bold;
    color: #111; }
.home-news .home-news-content .thumb-link {
  display: block;
  margin: 15px 0; }
.home-news .home-news-content img {
  max-width: 100%;
  height: auto; }
.home-news .home-news-content a {
  text-decoration: none; }

#myModal {
  z-index: 10000; }
  #myModal .modal-dialog {
    width: 670px;
    margin-top: 56px; }

/** Recent News **/
.tpl-post .border-card {
  border-bottom: 1px solid #eee;
  padding: 15px 0 30px; }
.tpl-post:nth-of-type(1) .border-card {
  padding-top: 0; }
@media screen and (min-width: 992px) {
  .tpl-post:nth-of-type(2) .border-card {
    padding-top: 0; } }
.tpl-post h4 a {
  color: #333; }
  .tpl-post h4 a:hover {
    text-decoration: underline; }
.tpl-post .post-meta {
  color: #8899A6;
  font-size: 0.857em; }
.tpl-post .post-preview {
  margin: 15px 0; }
  .tpl-post .post-preview a {
    display: block; }
.tpl-post .post-summary p {
  margin: 0; }

@media screen and (min-width: 992px) {
  .blog .tpl-post:nth-of-type(even) {
    padding-left: 45px; }
  .blog .tpl-post:nth-of-type(odd) {
    padding-right: 45px; } }

.single-post .page-summary {
  font-size: 1.52em;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 15px; }
.single-post .page-media {
  margin-bottom: 15px; }
.single-post h3, .single-post h4 {
  margin-top: 1.5em; }

.widget_recent_entries ul {
  border-top: 1px solid #eee;
  list-style-type: none; }
.widget_recent_entries li {
  font-size: 0.95em;
  border-bottom: 1px solid #eee;
  padding: 6px 0; }
.widget_recent_entries .post-date {
  font-size: 0.85em;
  margin-left: 5px;
  color: #8899A6; }

/** Login & Register **/
.register-page-body {
  background: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 30px; }

.register-actions + #bottombar {
  margin-top: 0;
  border-top: 1px; }

#register_content {
  max-width: 850px; }
  @media screen and (min-width: 1200px) {
    #register_content {
      margin-left: 36px; } }

.registration-col-1 {
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .registration-col-1 {
      margin-bottom: 0; } }

.register-form,
.login-form {
  max-width: 460px; }
  .register-form div[class*="col-"],
  .login-form div[class*="col-"] {
    padding: 0 5px; }
  .register-form .row,
  .login-form .row {
    margin: 0 -5px; }
  .register-form .form-group,
  .login-form .form-group {
    margin-bottom: 10px; }

.login-title {
  font-weight: normal;
  margin: 6px 0 0; }

.rl-error {
  margin: 5px 0 0;
  font-size: 12px;
  padding: 4px 9px;
  background: #F2DEDE;
  border: 1px solid #e4b9b9;
  color: #D2322D;
  border-radius: 4px; }

.login-form {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 10px;
  background: #fff; }
  @media screen and (min-width: 1200px) {
    .login-form {
      margin-right: 15px; } }
  .login-form .checkbox {
    margin: 0;
    font-size: 12px; }
    .login-form .checkbox #rememberme {
      margin-top: 1px; }
  .login-form #do-login {
    box-sizing: border-box;
    min-width: 100%;
    text-align: center; }
  .login-form .lost-psw {
    font-size: 12px; }

@media screen and (min-width: 1200px) {
  .register-form {
    margin-left: 25px; } }
.register-form .panel-heading {
  padding: 10px;
  font-weight: bold;
  background: #fff; }
.register-form .panel-body {
  padding: 10px;
  background: #fff; }
.register-form .register-action {
  margin-bottom: 0;
  text-align: right; }
.register-form #do-register {
  background: #5CB85C;
  border-color: #5CB85C; }
  .register-form #do-register:hover, .register-form #do-register:focus, .register-form #do-register:active {
    background: #449d44;
    border-color: #449d44; }

/*# sourceMappingURL=front.css.map */
