/** == Settings and variables (_presets.scss)  == **/

$base:						8px;
$content-width:             1144px;
$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);

$color-white:               #ffffff;

$color-gray-dark-xl:        #322E28;
$color-gray-dark-lg:        #575552;
$color-gray-dark-md:        #81766F;
$color-gray:                #BAB5AB;
$color-gray-light-md:       #E6DFD1;
$color-gray-light-lg:       #F3EFE7;
$color-gray-light-xl:       #FBF8F4;

$color-main-dark:           #026D49;
$color-main:                #0EA36C;
$color-main-light:          #EBF5F1;

$color-sec-dark:            #E64825;
$color-sec:                 #FA7355;
