/** == Typography (_utils.scss) == **/

// display
.d-none {
    display: none;
}


// loading
.loading {
    display: inline-block;
    padding: $base;
    color: $color-gray;

    &.error {
        color: #ff0000;
    }
}