body {
  background-color: $color-gray-light-xl;
  overflow-x: hidden;
  @include text;

  a {
    @include a-hover-underline;
    color: $color-main;
  }
}

.table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    padding: 10px;
    width: 100%;
    vertical-align: top;
  }

  thead {
    th {
      border-bottom: 1px solid $color-gray-light-lg;
      text-align: left;
    }
  }

  tbody {
    tr {
      &:not(:last-child) {
        td {
          border-bottom: 1px solid $color-gray-light-lg;
        }
      }
    }
  }
}
