/** == Settings and variables (_presets.scss)  == **/

$base: 8px;
$content-width: 1144px;
$content-width-wizard: 1440px;
$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

$color-white: #ffffff;

$color-gray-dark-xl: #322e28;
$color-gray-dark-lg: #575552;
$color-gray-dark-md: #81766f;
$color-gray: #bab5ab;
$color-gray-light-sm: #e3eaed;
$color-gray-light-md: #e6dfd1;
$color-gray-light-lg: #f3efe7;
$color-gray-light-xl: #fbf8f4;

$color-main-dark: #026d49;
$color-main: #0ea36c;
$color-main-light: #ebf5f1;

$color-sec-dark: #e64825;
$color-sec: #fa7355;
