/* project styles */


/* common */

#menu-center {
	.dropdown-menu {
		width: 277px;
	}
}

.task-details,
.inpage-footer {
	margin: 20px 0;
}

.task-details {
	position: relative;	
}

.page-content {
	min-height: 300px;
}

.page-content.contacts {
	margin-bottom: 20px;
	min-height: 0;
}


/* real **/
.widefat {
	width: 100%;	
}

.text-center {
	text-align: center;
}

.ui-datepicker {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}


.btn-grey {
	background: #f3f3f3;
	&:hover {
		background: $color-border-light;
	}
}

.btn-delete{
	border: 2px solid #A94442;
	color: #A94442;
}


.sharing {	
	text-align: right;
	padding-right: 10px;
	.txt {
		display: inline-block;
		margin-top: -2px;
		vertical-align: text-top;
		font-size: 0.9em;
		color: #999;
		margin-right: 10px;
	}
	.share-buttons {
		display: inline-block;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}


/** Layout **/
.task-actions {
	.page-heading .breadcrumb {
		margin-bottom: 10px;
	}
	.alert a {
		color: $color-label-green-dark;
	}
}


/** Tasks **/
.fixed-member-meta,
.task-meta {
	color: $color-text-meta;
	font-size: 0.857em;
	a {
		color: $color-text-semi;			
		&:hover {
			text-decoration: underline;
		}
	}
}


.pagination {
	.page-numbers {
		padding: 5px 12px;
		color: $color-text-light;
		&:hover {
			background: $color-secondary;
			color: $color-text-semi;
		}
	}
	.active .page-numbers,
	.active .page-numbers:hover,
	.active .page-numbers:focus {
		background: #e1e1e1;
		font-weight: bold;
		border-color: #ddd;
	}
}


/** single task **/



div[class |="status-block"] {
	margin-top: $measure-elements-margin/2;
	
	@include for(medium-screens) {
		margin-top: 0;
		.row-top { text-align: right; }
	}
}

.status-block-task {
	@include for(small-screens) { margin-left: $statusW;}
	@include for(medium-screens) { margin-left: 0; }
	.row-top {
		margin-bottom: 15px;
	}
}




/** task actions **/
.chosen-container-multi .chosen-choices {
	border-color: $color-border-normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 

	li.search-field input[type="text"] {
		height: 32px;
		padding: 8px 12px 4px;
		font-size: 14px;
	}
}

.help-block.button-status {
	margin-bottom: 2em; 
}

.task-actions.sidebar {
	max-width: 350px;
}

.task-actions .pull-right + .return-button {
	margin-top: 30px;
}



/** comments **/
.comment-list {
	list-style-type: none;
	.children {
		list-style-type: none;
		padding-left: 44px;
	}
	
	.panel-footer {
		padding : {
			top: 5px;
			bottom: 5px;
		}
		font-size: 13px;
	}
}

.comment-body .comment-avatar {
	width: 34px;
}




/** Members **/
.member-scope {
	font-style: italic;
	color: $color-text-light;
	height: 20px;
}
	
.in-loop .member {
	margin: {
		top: 10px;
		bottom: 10px;
	}
	
	&:nth-of-type(2n+1) {
		clear: left;
	}
		
	.border-card {
		padding: 15px;		
	}
	
	.thumbnail {
		margin-bottom: 0;
		width: 100px;
		height: 100px;
		border: none;
		padding: 0;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
	.member-status {
		margin-top: 4px;
		
		.label {
			background: $color-user-user;
			&.hero { background: $color-user-hero; }
			&.donee { background: $color-user-donee; }
			&.activist { background: $color-user-activist; }
			&.volunteer { background: $color-user-volunteer; }
		}
	}
	
	.member-title {
		@include post-title;
		margin: 15px 0 5px;
	}
			
	.member-meta {
		color: $color-text-meta;
		font-size: 0.857em;
		a {
			color: $color-text-semi;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.member-header {
		margin-bottom: 15px;
	}
		
	.member-more {
		margin-bottom: 0;
		a {
			@include details-link;
		}
	}
	
	
}

.page-title + .subtitle {
	font-style: italic;
	color: $color-text-meta;
	margin-top: 5px;
}

.member-links-list {	
	dt {
		float: left;
		width: 90px;
		color: $color-text-meta;
	}
	
	dd {
		margin-left: 95px;
		margin-bottom: 10px;
	}
}


.member-data-list {
	dt {
		color: $color-text-meta;
		float: left;
		width: 90px;
	}	
	dd {
		margin-bottom: 10px;
		margin-left: 95px;
	}
}

.member-activity .table tbody tr:nth-of-type(1) {
	td, th {
		border-top: none !important;
	}
	
}



/** Profile **/
.member-actions .col-md-8 h4 {
	@include smart-margin(1.5em);
}

section[class |="data-section"] {
	@include word-wrap();
	margin: $measure-elements-margin/2  0 $measure-elements-margin;
}



.status-block-member {
	.row-top { margin-bottom: 10px; }
	.row-main { @include clearfix; }
}

.data-section-member {
	
}

.role-marker {
	@include for(medium-screens) { float: right; }
	
	position: relative;
	.vlabel {
		top: 16px;
		left: -22px;
	}
	button {
		width: 150px;
		height: 49px;
		
		@include upto(medium-screens) {
			width: 130px;
			height: 36px;
		}					
		border-radius: 0px;		
		cursor: default;
		color: white;
		background: $color-user-user;
		&:hover {
			color: white;
		}
		&.donee { background: $color-user-donee; }
		&.activist  { background: $color-user-activist;}
		&.hero { background: $color-user-hero; }
		&.volunteer { background: $color-user-volunteer; }
	}
	
	.role-desc {		
		background: $color-text-light;
		color: $color-white;
		padding: 2px 7px;
		margin-left: 5px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		cursor: pointer;
	}
}

.member-activity table {
	margin-bottom: 0;
	.user-rating {
		color: $color-label-green-normal;
	}
	.num {
		text-align: right;
		span {
			cursor: pointer;
		}
	}
}

.member-tasks {
	.nav-tabs {
		font-size: 12px;
		li > a {
			padding: 6px 9px;
		}
	}
	.tab-pane {
		padding: 25px 15px;
		border-bottom: 1px solid #ddd;
	}
	.well { font-size: 13px; }
}

.member-tasks-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		@include smart-margin(15px);
		padding: 0;
	}
	
	.mt-meta {
		font-size: 0.85em;
		color: $color-text-meta;
		a {
			color: $color-text-meta;
		}
		strong {
			font-weight: normal;
			color: $color-text-meta;
		}
	}
}



/** member tasks */
#tasks-closed,
#tasks-working-on,
#tasks-created {
	padding: 30px 15px;
}

.task-row {
	@include smart-margin(15px);
	border-bottom: 1px solid $color-border-light;
	padding-bottom: 8px;
	
	h5 {
		margin-top: 0;
		margin-bottom: 7px;
	}
	
	.task-row-meta {
		font-size: 13px;
		color: $color-text-meta;
	}
	
	.task-row-action {
		text-align: right;
		a {
			margin-left: 8px;
		}
	}
}



/** search & 404 **/
.sbutton-holder {
	margin-left: -20px;
	input {
		padding: {
			top: 7px;
			bottom: 7px;
		}
	}
}

.res-count {
	font-size: 13px;
	background: $color-border-light;
	padding: 7px 12px;
}

.no-results.not-found {
	min-height: 400px;	
}

.page-body .search-holder {
	margin-bottom: 28px;
}

.search-item {
	@include smart-margin(20px);
	.title-part {
		color: $color-text-light;
	}
}

.search .page-body .col-md-7 {
	min-height: 400px;
}

.not-found-404 {
	.search-holder {
		margin-top: 36px;
	}
	.page-content {
		min-height: 400px;
	}
}

.err-mark {
	color: $color-link-one;
	font-size: 120px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
}



/* tasks filters */
.members-filters-frame,
.tasks-filters-frame {
	position: relative;
	z-index: 10;
	font-size: 12px;
	
	#members-filters-trigger,
	#tasks-filters-trigger {
		border: 1px solid #aaa;
		background: $color-white;
		width: 200px;
		color: $color-text-light;
		cursor: pointer;
		&:hover {
			color: $color-text-semi;
		}
		.txt {
			display: inline-block;
			padding: 5px 0 5px 5px;
		}
		.icon {
			cursor: pointer;
			width: 28px;
			border-left: 1px solid #aaa;			
			background: #f9f9f9;
			text-align: center;
			height: 27px;
			span {
				font-size: 18px;
				margin-top: 3px;
			}
		}
	}
	
	#members-filters,
	#tasks-filters {
		position: absolute;
		top: 28px;
		right: 0;
		background: $color-white;
		border: 1px solid $color-border-normal;
		z-index: 1000;
		padding: 25px 25px 10px;
		-webkit-box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
		
		#task_tags_chosen,
		.form-control {
			font-size: 13px;
		}
	}
}


.page-body #menu-about {
	li {
		border-bottom: 1px solid $color-border-light;
		
	}
	
	a {
		font-size: 0.9em;
		display: block;
		padding: 8px 2px 2px;		
		text-transform: uppercase;
		color: $color-text;
		@include transition(all 0.3s);
		
		&:hover {
			color: darken($color-text, 5%);
			background: $color-secondary;
			text-decoration: none;
		}		
	}
}



/* members count */
.itv-total-members-footer {
  margin:20px 12px 0px 0px;
  color: $color-text-meta;
}

.itv-total-members-heading {
	margin-left:15px;
	font-weight: normal;
	font-size: 0.75em;
	color: rgba(0,0,0,0.54);  
}

.itv-home-prefooter {
	margin-top:40px;
	background-color: $color-label-green-normal;
	color: $color-white;
	padding: $measure-columns-gut/2;
	@include for(small-screens) {
		padding: $measure-columns-gut/2 $measure-columns-gut;
	}
	
	
	p {
		font-size:1.4em;
		width:50%;
		//font-weight: bold;
		margin: 0;
	}
	
	.register-prefooter, .add-new-task-button {
		background-color: $color-label-green-normal;
		color: $color-white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding:10px 20px;
		font-size: 1.3em;
		display:block;
		border:3px solid $color-white;
		//font-weight: bold;
		@include transition(all 0.3s);
		
		&:hover {
			text-decoration: none;
			background-color: darken($color-label-green-normal, 10%);
		}
	}
}





/* notifications */
#menu-actions {
	.badge {
		background: #ED9C28;
	}
	.dropdown-menu {
		li {
			position: relative;
			.badge {
				position: absolute;
				right: 3px;
				top: 0;
				background: #ED9C28;
			}
		}
	}
}

.page-decor > .alert {
	margin: 10px 30px;
	padding: 10px 15px;
}

/* doer reviews */
.itv-reviews-tabs {
    padding-left:15px;  
}

.itv-user-reviews-list {
    margin-top:20px;
    padding:0px 20px 0px 20px;
}

.itv-user-reviews-list .itv-user-review-item {
    padding:0px 0px 20px 0px;
}

.itv-user-reviews-list .itv-user-review-message {
    padding-bottom:0px;
    font-style:italic;
}

.itv-user-reviews-list .itv-user-review-author {
    text-align:right;
}