.frm_forms {
    .form-field {
        @extend .form-group;
        position:relative;
        
        input[type="text"],
        input[type="email"],
        textarea {
            @extend .form-control;
        }

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            max-width: 100%;            
        }
        
        .frm_error {
            color: #d2322d;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.3;
            padding: 4px 0 0 4px;
            min-height:16px;
        }
        
        .frm_required {
            position:absolute;
            margin-bottom:-30px;
            color:red;
            right:10px;
            top:8px;
            font-size:1.2em;
        }
    }

    .frm_submit {
        input[type="submit"] {
            @extend .btn;
            @extend .btn-default;
        }
    }
}

.frm_forms {
    .frm_message {
        @extend .alert;
        @extend .alert-success;
    }
    
    .frm_error_style {
        @extend .alert;
        @extend .alert-danger;
    }
}

#form_contact-us {
    width: 70%;
}
