/** == Tasks templates **/

/** Taks in loop */
.tpl-task {
		
	.border-card {
		border-bottom: 1px solid $color-border-light;
		padding: 16px 0 16px 24px;
		position: relative;
	}
		
	.status-wrap {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 22px;
		left: 0;
	}
		
	.status-label {
		@include task-staus-label;
	}
	
	&.status-in_work .status-label {  background: $color-label-work; }
	&.status-closed .status-label { background: $color-label-closed; }
	
	.task-title {
		@include post-title();
		margin: 0 0 3px;
		padding-left: 0;
	}
	
	.task-meta {
		font-size: 12px;
		color: $color-text-meta;
		font-weight: 300;
		
		a {
			color: $color-text-black;
			font-weight: 300;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	.task-tags {
		font-size: 12px;
		color: $color-text-meta;
		margin-top: 5px;
		
		a {
			color: $color-text-meta;
			font-weight: 500;
			&:hover, &:focus, &:active {
				text-decoration: underline;		
			}
		}
	}
	
	.task-summary {
		position: relative;
	}
	
	.task-reward {
		margin-top: 1em;
		padding-right: $statusW +10px;
		
		.reward-icon  {
			margin-right: 5px;
		}
	}
	
	&.status-publish .task-reward { color: $color-label-green-normal;  }
	
	.task-more {
		width: $statusW;
		position: absolute;
		top: -6px;
		right: 0;
		text-align: center;
		vertical-align: top;
		
		a {
			display: inline-block;
			height: 17px;
			color: transparentize($color-text-meta, 0.3);
			font-weight: bold;
			font-size: 30px;
			letter-spacing: 0.5px;
			line-height: 17px;
			vertical-align: top;
			@include transition(all 0.35s);
			
			&:hover, &:focus, &:active {
				color: darken($color-text-meta, 20%);
				text-decoration: none;
			}
		}
	}
	
} //tpl



/** Tasks List Screen **/
.tasks-list-header {
	.tasks-filters {
		@include clearfix;
		margin: 0;
		padding: 0;
		list-style-type: none;
		padding-top: 12px;
		
		a {
			display: inline-block;
			line-height: 1;
			padding: 4px 13px 6px;
		}
		
		li {
			float: left;
			&.publish a { color: $color-label-green-normal; }
			&.in_work a { color: $color-label-work;}
			&.closed a { color: $color-label-closed;}
		}
				
		li.active {
			a {
				color: $color-white;
				&:hover {
					text-decoration: none;
				}
			}
			
			&.publish a { background: $color-label-green-normal; }
			&.in_work a { background: $color-label-work ;}
			&.closed a { background: $color-label-closed;}
		}
	}
}


/** Single task **/
.page-title .edit-item {
	display: inline-block;	
	font-size: 11px;		
	vertical-align: top;
	@include for(small-screens) { margin-left: 15px; }
	
	a {
		display: inline-block;
		padding: 5px 12px 6px;
		background: $color-secondary;
		text-decoration: none;
		@include transition(all 0.35s);
		&:hover {
			color: $color-white;
			background: $color-link-one;
		}
	}
}

$base-el-margin : 24px;


.tpl-task-full {
	
	.page-heading {
		background: transparent;
		border: none;
		padding: 20px 30px 0 50px;
		margin-bottom: 0;
	}
	
	.task-title {
		position: relative;
		font-size: 32px;		
	}
	
	.status-wrap {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 13px;
		left: -20px;
	}
	
	.status-label {
		@include task-staus-label;
	}
	
	&.status-in_work .status-label {  background: $color-label-work; }
	&.status-closed .status-label { background: $color-label-closed; }
		
	.page-title .edit-item {
		margin-top: 6px;
	}
	
	.tags {
		margin: 8px 0;
		font-size: 13px;
		a {
			font-size: 13px;
			display: inline-block;
			border: 1px solid transparentize($color-text-meta, 0.43);
			padding: 0 12px;
			color: $color-text-meta;			
			text-decoration: none;
			margin-right: 8px;
			@include transition(all 0.35s);
			&:hover {
				background: $color-text-meta;
				border-color: $color-text-meta;
				color: $color-white;
			}
		}
	}
	
	.task-reward {
		margin: 10px 0;
		color: $color-label-green-normal;
		font-size: 16px;
	}
	
	.task-top-meta {		
		font-size: 12px;
		margin: 6px 0;
		
		time {
			color: $color-text-meta;
		}
		
		@include for(medium-screens) {
			text-align: right;
			
		}
	}
	
	#multibutton {		
		.btn {
			border-radius: 0;
		}
		
		#task-status {padding-top: 5px;
			font-style: normal;
			font-size: 12px;
			color: $color-text-meta;
			&.help-block {
				display: none;
			}
		}		
	}
	
	.page-body {
		padding-left: 50px;
	}
	
	.task-section {
		margin-bottom: $base-el-margin;
		.task-section-title {
			margin-top: 0;
			margin-bottom: 6px;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 11px;
		}		
	}
	
	#reply-title {
		font-size: 14px;		
		font-weight: normal;		
	}
	
	.task-message > p {
		font-size: 12px;
		line-height: 1.3;
		color: $color-text-meta;
	}
}

#commentsubmit {
	cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
	border-radius: 0;
	border: none;
	color: $color-white;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	background: $color-link-one;
	@include transition(all 0.35s);
	
	&:hover, &:focus, &:active {
		background: $color-link-two;
	}
}


.task-author {
	@include clearfix;	
	
	.task-author-avatar {
		width: 62px;
		float: left;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
	.task-author-name {
		margin: 0 0 9px 75px;
		font-weight: normal;
	}
	
	.task-author-desc {
		font-size: 12px;
		color: $color-text-meta;
		margin-left: 75px;
		p {
			margin: 0;
		}
	}
	
}

.connected-users {	
		
	h5 {
		margin-top: 0;
		margin-bottom: 2em;		
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			padding: 0;
			margin: 0 0 10px 0;			
			position: relative;
			@include clearfix;
			font-size: 13px;
		}
		
		.c-img {
			float: left;
			width: 32px;			
			margin-right: 10px;
		}
		
		.c-name {
			float: left;
			@include calc('width', '(100% - 42px)*0.7');			
			min-height: 36px;
			font-weight: bold;
			line-height: 1.1;
			
			.user-rating {
				margin-top: 2px;
				font-weight: normal;
				font-size: 11px;
				color: $color-text-light; 
				span {
					color: $color-label-green-normal;					
				}
			}
		}
		
		.c-actions {
			float: left;
			@include calc('width', '(100% - 42px)*0.3');		
			.c-status-app,
			.c-status-app:hover {
				background: $color-label-green-normal;
				cursor: default;
			}
			.c-status-napp {
				background: $color-deadline-all-time;
				border-color: $color-deadline-all-time;
				cursor: default;
			}
		}
	}
}


/** Edit tasks **/
.tpl-edit-task {
	
	.page-heading {
		border: none;
		padding-top: 20px;
		padding-bottom: 5px;
		background: transparent;
		margin-bottom: 15px;
		
		@include for(medium-screens) {
			margin-bottom: 0;
		}	
		
		
		time {
			color: $color-text-meta;
			font-size: 12px;
			padding-left: 10px;
		}
	}
	
	.status-label{
		display: inline-block;
		background: transparentize($color-text-meta, 0.1);
		color: $color-white;
		font-size: 11px;
		padding: 2px 15px 3px;
		&.label-publish {
			background: $color-label-green-normal;
		}
		&.label-in_work {
			background: $color-label-work;
		}
		&.label-closed {
			background: $color-label-closed;
		}
	}
		
	#task-title {
		font-size: 14px;
	}
	
	.author-ref {
		color: $color-text-meta;
		a {
			color: $color-text-meta;
		}
		a:hover {
			color: $color-text-meta;
			text-decoration: underline;
		}
	}
	
	.publish-button {
		margin-bottom: 0;
		padding: 15px 0 23px;
		input {
			@include transition(all 0.35s);
		}
	}
	
	.task-buttons .col-md-6{
		margin-bottom: 8px;
	}
	
	.task-buttons a,
	.task-buttons input{
		border-radius: 0;
		@include transition(all 0.35s);
	}
	
	.btn-delete {
		border-width: 1px;
	}
	
	//errors
	.validation-message {
		font-size: 12px;
		line-height: 1.3;
		font-weight: bold;
		color: $color-label-red-normal;
		padding: 4px 0 0 4px;
	}
}

//tags style
.chosen-container-multi .chosen-choices li.search-choice {
	font-size: 13px;
	border-color: transparentize($color-text-meta, 0.43);
	border-radius: 0;
	background: $color-white;
	color: $color-text-meta;
	.search-choice-close {
		background: transparent;
		&:after {
			content: '\e014';
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			font-size: 12px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: transparentize($color-text-meta, 0.43);
		}
		&:hover:after {
			color: $color-text-meta;
		}
	}
}


/* task form sub label */
.itv-task-form-sublabel {
  font-size: 0.9em;
  line-height: 1.3;
  margin-top: 5px; 
}

