@import "../base/presets";
@import "../helpers/mixins";

.manage-task {
  margin: 30px 9px;

  @include screen-from(md) {
    margin: 60px 0;
  }

  &_bg-image {
    background: url(../../img/bg-manage-task.svg) 50% 100% no-repeat;
    background-size: 288px auto;
    margin: 30px 9px -40px;
    padding: 0 0 calc(242px + 60px);

    @include screen-from(md) {
      background: url(../../img/bg-manage-task.svg) 0 100% no-repeat;
      background-size: 36.5972vw auto;
      margin: 0 0 -40px;
      padding: 40px 0 80px;
      background-position: -6.6666vw 100%;
    }
  }

  &-agreement {
    padding-bottom: 10px;
  }

  &-lead {
    margin-bottom: 20px;
    font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
    text-align: center;
    color: $color-gray-dark-xl;

    @include screen-from(md) {
      text-align: left;
    }
  }

  &-step {
    @include screen-from(sm) {
      position: relative;
      margin: 0 auto;
      width: 520px;
    }

    &__user-input {
      margin-bottom: 40px;

      @include screen-from(md) {
        margin-bottom: 0;
      }
    }

    &__informativeness {
      font: 600 11px/1.82 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md-001;

      @include screen-from(md) {
        position: absolute;
        top: 82px;
        right: -30px;
        border-left: 1px solid $color-gray-light-md;
        padding: 10px 20px;
        max-width: 233px;
        transform: translate(100%, 0);
      }

      @include screen-from(lg) {
        width: 233px;
      }

      &-label {
        color: $color-main;
      }
      &-bar {
        position: relative;
        background-color: $color-gray-light-md;
        margin: 10px 0;
        border-radius: 3px;
        width: 100%;
        height: 6px;
      }
      &-level {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-main;
        border-radius: 3px;
        width: auto;
        height: 100%;
        transition: all 0.3s linear;
      }
    }
  }
  &-form {
    &__header {
      margin-bottom: 30px;

      @include screen-from(md) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__title {
      font: 600 20px/1.6 "IBM Plex Sans", sans-serif;
      text-align: center;
      color: $color-gray-dark-xl;

      @include screen-from(md) {
        order: 1;
        margin-right: 15px;
      }
    }
    &__subtitle {
      order: 2;
      font: 600 13px/1.54 "IBM Plex Sans", sans-serif;
      text-align: center;
      color: $color-gray-dark-md-001;

      @include screen-from(md) {
        margin-left: 15px;
      }
    }
    &__footer {
      margin-top: 25px;
      text-align: center;

      @include screen-from(sm) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      &-link {
        border-bottom: 1px solid $color-gray-dark-md-001;
        font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
        text-decoration: none;
        color: $color-gray-dark-md-001;
        transition: all 0.15s linear;

        &:hover {
          border-bottom: 1px solid transparent;
          text-decoration: none;
        }
      }
    }
    &__checkbox-container {
      margin-bottom: 30px;
      [class*="checkbox-label-text"] {
        margin-right: 4px;
        color: $color-gray-dark-lg;
      }
    }
  }
  &__action {
    &-container {
      @include screen-from(sm) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
    }
    &-link {
      border-bottom: 1px dashed transparent;
      text-decoration: none;
      transition: all 0.15s linear;

      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px dashed transparent;
        text-decoration: none;
      }

      &_primary {
        border-bottom-color: $color-main;
        color: $color-main;
      }
      &_default {
        border-bottom-color: $color-gray-dark-lg;
        font: 600 16px/1.25 "IBM Plex Sans", sans-serif;
        color: $color-gray-dark-lg;
      }
    }
  }
  &__tooltip {
    &-inline {
      margin-top: 10px;
      font: 600 11px/1.09 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-md-001;

      @include screen-from(sm) {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
  &__modal {
    &-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    &-nav {
      position: relative;
      overflow: hidden;
      @include screen-from(sm) {
        display: flex;
        flex-flow: row nowrap;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, $color-white 43.55%, rgba(255, 255, 255, 0) 81.18%) 50%
          50% no-repeat;
        width: 60px;
      }

      &-item {
        white-space: nowrap;

        &::before {
          content: "•";
          display: inline-block;
          padding-right: 4px;
          width: 9px;
          height: 16px;
          vertical-align: middle;
          box-sizing: border-box;
        }

        &:first-child {
          &::before {
            @include screen-from(sm) {
              content: "";
              width: 0;
            }
          }
        }

        &:not(:last-child) {
          @include screen-from(sm) {
            margin-right: 4px;
          }
        }
      }

      &,
      & a {
        font: 500 11px/1.45 "IBM Plex Sans", sans-serif;
        color: $color-gray-dark-md-001;
      }
    }
    &-close {
      display: block;
      background: url(../../img/icon-manage-task-modal-close.svg) 50% 50% no-repeat;
      border-style: none;
      margin-left: 4px;
      padding: 0;
      width: 24px;
      height: 24px;
      outline: none;
    }
    &-title {
      margin-bottom: 12px;
      font: 500 22px/1.36 "IBM Plex Sans", sans-serif;
      letter-spacing: -0.01em;
      color: $color-gray-dark-xl;
    }
    &-content {
      font: 400 16px/1.5 "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-lg;

      p {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      ul {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      li {
        list-style-type: disc;
        margin-left: 18px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
  &__select {
    &-guard {
      position: relative;

      &_active {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
  }
}
