@import "../base/presets";
@import "../components/buttons";

.form {
  &__group {
    margin: 0 0 20px;
  }
  &__control {
    &_textarea {
      background: $color-gray-light-xl;
      border: 1px solid $color-gray-light-lg;
      padding: 8px 10px 11px;
      min-height: 9rem;
      box-sizing: border-box;
      border-radius: 4px;
      font: 600 13px/20px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-lg;
    }

    &_text {
      background: $color-gray-light-xl;
      border: 1px solid $color-gray-light-lg;
      padding: 8px 10px 11px;
      box-sizing: border-box;
      border-radius: 4px;
      font: 600 13px/20px "IBM Plex Sans", sans-serif;
      color: $color-gray-dark-lg;
      width: 100%;
      margin-bottom: 16px;
    }

  }
  &__action-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

  }
  &__btn {
    &_cancel {
      @extend .btn;
      @extend .btn_link;
    }
    &_submit {
      @extend .btn;
      @extend .btn_primary-lg;
      margin-left: 20px;
    }
  }
}
